<div id="<%= dom_id leaseback_program %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= leaseback_program.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= leaseback_program.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= leaseback_program.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Aircraft manufacturer:</strong>
    <%= leaseback_program.aircraft_manufacturer %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Aircraft model:</strong>
    <%= leaseback_program.aircraft_model %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Aircraft year:</strong>
    <%= leaseback_program.aircraft_year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Message:</strong>
    <%= leaseback_program.message %>
  </p>

</div>
