<div id="<%= dom_id multi_engine_rating %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= multi_engine_rating.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= multi_engine_rating.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= multi_engine_rating.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Message:</strong>
    <%= multi_engine_rating.message %>
  </p>

</div>
