<%# Head / Meta Data %>
<% title("Mult-Engine Rating | Blue Skies Above") %>
<% meta_description("Explore the requirements, benefits, and training for obtaining a Multi-Engine Rating. Learn about the FAA standards, training time, and skills needed to advance your pilot qualifications and operate multi-engine aircraft safely and confidently.") %>
<% meta_keywords("Multi-Engine Rating, Multi-Engine Pilot Training, Twin Engine Training, Multi-Engine Commercial License, Multi-Engine Flight School, Multi-Engine Training Programs, Multi-Engine Add-On Rating, Advanced Pilot Training Multi-Engine, Twin Engine Aircraft Certification, Multi-Engine Endorsement, Multi-Engine Flight Instructor (MEI), Multi-Engine Checkride Preparation, Accelerated Multi-Engine Rating, Multi-Engine Time Building, Multi-Engine Cross-Country Training") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>
<%= render "shared/phone_banner"%>
<%= render "shared/nav"%>
<header class="w-full bg-multi bg-cover bg-right lg:bg-center h-screen-3/4 lg:h-screen-4/5 flex justify-center items-center">
  <div class="px-5 py-24 lg:py-32 flex flex-col justify-start items-center lg:items-end h-full w-full text-center lg:text-right">
    <h1 class="text-4xl font-bold tracking-tight sm:text-6xl text-white">Earn Your Multi-Engine Rating</h1>
    <h2 class="mt-6 text-xl leading-8 text-gray-200 font-semibold">Advance your pilot qualifications with a multi-engine rating</h2>
    <h2 class="mt-2 text-xl leading-8 text-gray-200 max-w-4xl font-semibold">
      We’re getting ready to purchase a brand-new multi-engine airplane, and with it, we’re launching our new multi-engine training program. Don’t miss your chance—sign up now to join the waitlist!
    </h2>
    <div class="flex flex-row lg:flex-row items-center mt-5">
      <a href="#multi-engine-form" class="btn-primary">Register Now</a>
      <%= link_to visit_path do %>
        <div class="ml-5 flex group items-center text-white">
          <div class="mr-3">Visit School</div>
          <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
        </div>
      <%end%>
    </div>
  </div>
</header>

<div class="bg-white px-6 py-24 sm:py-12 lg:px-8">
  <div class="mx-auto max-w-3xl text-center">
    <p class="text-lg font-semibold leading-7 text-sky-600">Enhance Your Pilot Skills</p>
    <h2 class="mt-2 text-4xl font-bold text-gray-900 sm:text-6xl">Earn Your Multi-Engine Rating</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">A multi-engine rating allows you to operate larger and more powerful aircraft, <br class="hidden md:block">
      expanding your flight capabilities and career opportunities.</p>
  </div>
</div>

<div class="bg-gradient-to-br from-sky-300 to-sky-100 px-6 py-20 sm:py-24 lg:px-24 flex flex-col lg:flex-row gap-10 items-center">
  <div class="flex-1 text-center lg:text-right">
    <p class="sm:text-5xl font-semibold text-sky-600 text-3xl">What is a</p>
    <h2 class="text-4xl font-bold text-gray-900 sm:text-6xl">Multi-Engine Rating?</h2>
  </div>
  <div class="flex-1 flex flex-col gap-5">
    <p class="text-lg leading-8 text-gray-600">Adding a Multi-Engine Rating to your credentials elevates your piloting skills and qualifies you to operate more complex, twin-engine aircraft. At Blue Skies Above, our specialized training program provides you with the expertise and confidence needed to navigate the unique challenges of multi-engine flight, preparing you for advanced roles in aviation.</p>
    <p class="text-lg leading-8 text-gray-600">In multi-engine training, you'll learn critical skills such as handling engine failures, managing weight and balance, and mastering complex systems unique to twin-engine aircraft. Earning this rating strengthens your flying proficiency and opens doors to roles that require multi-engine experience.</p>
  </div>
</div>

<!--
<div class="px-6 py-20 sm:py-24 lg:px-24 flex flex-col lg:flex-row gap-10 items-center">
  <div class="flex-1 flex flex-col gap-5">
    <%= image_tag "taa-cessna-blue-skies-above-lanett-municipal-airport.webp" %>
  </div>
  <div class="flex-1 flex flex-col gap-2">
    <p class="sm:text-xl font-semibold text-sky-600 text-3xl">Training with Blue Skies</p>
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">What to Expect During Training</h2>
    <p class="text-lg leading-8 text-gray-600">Prepare to fly at a higher standard, where precision is key. The ACS standards for commercial pilots are stricter compared to private pilots, ensuring you develop the skills needed to fly professionally. At Blue Skies Above, we offer a structured syllabus, experienced instructors, and access to a modern fleet, giving you the tools to become a more skilled and confident pilot.</p>
    <p class="text-lg leading-8 text-gray-600">You’ll be flying in our newest Technically Advanced Aircraft (TAA), the Cessna 172, for some of your training. Check out the details below.</p>
    <a href="https://flytheblueskies.com/posts/blue-skies-above-acquires-a-new-taa-plane" class="btn-primary w-fit">
      Our TAA Cessna
    </a>
  </div>
</div>
-->

<section class="bg-gradient-to-l from-slate-200 to-blue-50 py-24">
  <div class="lg:flex lg:flex-row items-center">

    <div class="mx-0 lg:w-1/2">
      <div class="px-6 py-24 sm:py-12 lg:px-8">
        <div class="mx-auto max-w-5xl">
          <p class="text-lg font-semibold leading-7 text-sky-600">We’re Taking Off Soon!</p>
          <h2 class="mt-2 max-w-3xl text-4xl font-bold tracking-wide text-gray-900 sm:text-6xl">Our Multi-Engine Program is Starting Soon</h2>
          <p class="mt-6 text-lg leading-8 text-gray-600">We’re adding a brand-new twin-engine airplane to our fleet, ready to be used for both your multi-engine rating and MEI training.</p>
          <p class="mt-6 text-lg leading-8 text-gray-600">Spots are limited, so make sure to sign up today to join the waitlist and be among the first to take flight in this exciting new program.</p>
          <%#= link_to "Enroll Now", enroll_path, data: {turbo: false}, aria: { describedby: "tier-commercial-csel-certificate" }, class: "w-fit mx-auto mt-6 mb-6 block rounded-md py-3 px-5 text-center text-3xl font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 text-sky-600 bg-sky-600 text-white ring-1 ring-inset ring-sky-200 hover:scale-105 duration-200"%>
        </div>
      </div>
    </div>

    <div class="mx-10 lg:px-16 lg:w-1/2" id="multi-engine-form">
      <%= render "multi_engine_ratings/form", multi_engine_rating: @multi_engine_rating %>
    </div>
    
  </div>
</section>


<%= render "shared/cta_were_experts" %>
<%= render "shared/footer"%>
