<header class="bg-gradient-to-b from-custom-500 to-sky-700" x-data="{ mobileMenu : false }">
  <nav class="mx-auto flex items-center max-w-7xl justify-between p-6 lg:px-8" aria-label="Global"  x-on:click=" mobileMenu = ! mobileMenu ">
    <div class="flex flex-1">
      <div class="hidden w-full lg:flex lg:gap-x-12 justify-between"
        x-data="{
        new2flying : false,
        trainProgram : false,
        about : false }"
      >
        <%# Links %>
        <button class="text-base xl:text-2xl tracking-wider uppercase text-white hover:scale-125 duration-300" x-on:click="new2flying = ! new2flying, trainProgram = false, about = false">New to <br>
          Flying?</button>
        <button class="text-base xl:text-2xl tracking-wider uppercase text-white hover:scale-125 duration-300" x-on:click="trainProgram = ! trainProgram, new2flying = false, about = false">Training <br>
          Programs</button>
        <button class="text-base xl:text-2xl tracking-wider uppercase text-white hover:scale-125 duration-300" x-on:click="about = ! about, new2flying = false, trainProgram = false">About <br>
          Us</button>
        <%# Popup Menus %>
        <div class="relative">
          <%# New 2 Flying Menu %>
          <div class="absolute -left-[32rem] top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
          x-show="new2flying"
          x-cloak
          x-transition:enter="transition ease-out duration-500"
          x-transition:enter-start="opacity-0 translate-y-5"
          x-transition:enter-end="opacity-100 translate-y-0"
          x-transition:leave="transition ease-in duration-150"
          x-transition:leave-start="opacity-100 translate-y-0"
          x-transition:leave-end="opacity-0 translate-y-5"
          >
            <div class="p-4">
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-hover:text-sky-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.115 5.19l.319 1.913A6 6 0 008.11 10.36L9.75 12l-.387.775c-.217.433-.132.956.21 1.298l1.348 1.348c.21.21.329.497.329.795v1.089c0 .426.24.815.622 1.006l.153.076c.433.217.956.132 1.298-.21l.723-.723a8.7 8.7 0 002.288-4.042 1.087 1.087 0 00-.358-1.099l-1.33-1.108c-.251-.21-.582-.299-.905-.245l-1.17.195a1.125 1.125 0 01-.98-.314l-.295-.295a1.125 1.125 0 010-1.591l.13-.132a1.125 1.125 0 011.3-.21l.603.302a.809.809 0 001.086-1.086L14.25 7.5l1.256-.837a4.5 4.5 0 001.528-1.732l.146-.292M6.115 5.19A9 9 0 1017.18 4.64M6.115 5.19A8.965 8.965 0 0112 3c1.929 0 3.716.607 5.18 1.64" />
                  </svg>
                </div>
                <div class="flex-auto">
                  <%= link_to why_pilot_path, data: { turbo: false }, class: "block font-semibold text-gray-900" do%>
                    Why Become a Pilot?
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">Now is the best time to become a pilot</p>
                </div>
              </div>
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-hover:text-sky-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 01-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 014.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0112 15a9.065 9.065 0 00-6.23-.693L5 14.5m14.8.8l1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0112 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" />
                  </svg>
                </div>
                <div class="flex-auto">
                  <%= link_to pilot_programs_path, data: { turbo: false }, class: "block font-semibold text-gray-900" do%>
                    Pilot Training Process
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">Learn how to become a pilot</p>
                </div>
              </div>
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-hover:text-sky-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z" />
                  </svg>
                </div>
                <div class="flex-auto">
                  <%= link_to discovery_flight_path, class: "block font-semibold text-gray-900" do%>
                    Discovery Flight
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">Your first flight lesson.  You fly the plane</p>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-2 divide-x divide-gray-900/5 bg-gray-50">
              <%= link_to visit_path, data: {turbo: false}, class: "flex group items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100" do%>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-hover:text-sky-500">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                </svg>
                Schedule Visit
              <% end %>
              <%= link_to contact_path, data: {turbo: false}, class: "flex group items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100" do%>
                <svg class="h-5 w-5 flex-none text-gray-400 group-hover:text-sky-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z" clip-rule="evenodd" />
                </svg>
                Contact Us
              <% end  %>
            </div>
          </div>
          <%# Training Programs Menu %>
          <div class="absolute -left-[29rem] top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
          x-show="trainProgram"
          x-cloak
          x-transition:enter="transition ease-out duration-500"
          x-transition:enter-start="opacity-0 translate-y-5"
          x-transition:enter-end="opacity-100 translate-y-0"
          x-transition:leave="transition ease-in duration-150"
          x-transition:leave-start="opacity-100 translate-y-0"
          x-transition:leave-end="opacity-0 translate-y-5"
          >
            <div class="p-4">
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 group-hover:fill-sky-500" viewBox="0 -960 960 960" ><path d="m380-300 280-180-280-180v360ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                </div>
                <div class="flex-auto">
                  <%= link_to ppl_path, data: {turbo: false}, class: "block font-semibold text-gray-900" do %>
                    Private Pilot
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">Start your aviation journey here</p>
                </div>
              </div>
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="w-6 h-6 group-hover:fill-sky-500"><path d="M260-160q-91 0-155.5-63T40-377q0-78 47-139t123-78q25-92 100-149t170-57q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H260Zm0-80h480q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-83 0-141.5 58.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41Zm220-240Z"/></svg>
                </div>
                <div class="flex-auto">
                  <%= link_to ifr_path, data: {turbo: false}, class: "block font-semibold text-gray-900" do%>
                    Instrument Rating
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">Advance your navigation abilities and opportunities</p>
                </div>
              </div>
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="w-6 h-6 group-hover:fill-sky-500"><path d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z"/></svg>
                </div>
                <div class="flex-auto">
                  <%= link_to cpl_path, data: {turbo: false}, class: "block font-semibold text-gray-900" do%>
                    Commercial Pilot
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">Make flying your career</p>
                </div>
              </div>
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" class="w-6 h-6 group-hover:fill-sky-500"><path d="M8 0c-.787 0-1.292.592-1.572 1.151A4.35 4.35 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272l.313.937a.5.5 0 0 0 .948 0l.405-1.214l2.21-.369l.375 2.253l-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318l.375-2.253l2.21.369l.405 1.214a.5.5 0 0 0 .948 0l.313-.937l1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0"/></svg>
                </div>
                <div class="flex-auto">
                  <%= link_to multi_engine_path, data: {turbo: false}, class: "block font-semibold text-gray-900" do%>
                    Multi-Engine Rating
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">
                    Fly aircraft with more than one engine
                  </p>
                </div>
              </div>
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256" class="w-6 h-6 group-hover:fill-sky-500"><path d="M216 40H40a16 16 0 0 0-16 16v144a16 16 0 0 0 16 16h13.39a8 8 0 0 0 7.23-4.57a48 48 0 0 1 86.76 0a8 8 0 0 0 7.23 4.57H216a16 16 0 0 0 16-16V56a16 16 0 0 0-16-16M80 144a24 24 0 1 1 24 24a24 24 0 0 1-24-24m136 56h-56.57a64.4 64.4 0 0 0-28.83-26.16a40 40 0 1 0-53.2 0A64.4 64.4 0 0 0 48.57 200H40V56h176ZM56 96V80a8 8 0 0 1 8-8h128a8 8 0 0 1 8 8v96a8 8 0 0 1-8 8h-16a8 8 0 0 1 0-16h8V88H72v8a8 8 0 0 1-16 0"/></svg>
                </div>
                <div class="flex-auto">
                  <%= link_to mei_path, data: {turbo: false}, class: "block font-semibold text-gray-900" do%>
                    Multi-Engine Instructor (MEI)
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">
                    Learn how to instruct in multi-engine aircraft
                  </p>
                </div>
              </div>
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" class="h-6 w-6 group-hover:fill-sky-500"><path d="M480-120 200-272v-240L40-600l440-240 440 240v320h-80v-276l-80 44v240L480-120Zm0-332 274-148-274-148-274 148 274 148Zm0 241 200-108v-151L480-360 280-470v151l200 108Zm0-241Zm0 90Zm0 0Z"/></svg>
                </div>
                <div class="flex-auto">
                  <%= link_to cfi_path, data: {turbo: false}, class: "block font-semibold text-gray-900" do%>
                    CFI
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">Teach what you know to the next class of pilots</p>
                </div>
              </div>
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="w-6 h-6 group-hover:fill-sky-500"><path d="M260-160q-91 0-155.5-63T40-377q0-78 47-139t123-78q25-92 100-149t170-57q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H260Zm0-80h480q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-83 0-141.5 58.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41Zm220-240Z"/></svg>
                </div>
                <div class="flex-auto">
                  <%= link_to cfii_path, data: {turbo: false}, class: "block font-semibold text-gray-900" do%>
                    CFII
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">Bring student pilots to the next level with an Instrument Rating</p>
                </div>
              </div>
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <%= content_tag :svg, class: "w-6 h-6 group-hover:fill-sky-500" do %>
                    <%= raw(File.read(Rails.root.join('app', 'assets', 'images', 'airplane-svgrepo-com.svg'))) %>
                  <% end %>
                </div>
                <div class="flex-auto">
                  <%= link_to spin_endorsement_path, data: { turbo: false }, class: "block font-semibold text-gray-900" do %>
                    CFI Spin Endorsement
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">Specialize in spin training for CFI candidates</p>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-2 divide-x divide-gray-900/5 bg-gray-50">
              <%= link_to visit_path, data: {turbo: false}, class: "flex group items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100" do%>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-hover:text-sky-500">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                </svg>
                Schedule Visit
              <% end %>
              <%= link_to contact_path, data: {turbo: false}, class: "flex group items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100" do%>
                <svg class="h-5 w-5 flex-none text-gray-400 group-hover:text-sky-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z" clip-rule="evenodd" />
                </svg>
                Contact Us
              <% end  %>
            </div>
          </div>
          <%# About Menu %>
          <div class="absolute -left-[27rem] top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
          x-show="about"
          x-cloak
          x-transition:enter="transition ease-out duration-500"
          x-transition:enter-start="opacity-0 translate-y-5"
          x-transition:enter-end="opacity-100 translate-y-0"
          x-transition:leave="transition ease-in duration-150"
          x-transition:leave-start="opacity-100 translate-y-0"
          x-transition:leave-end="opacity-0 translate-y-5"
          >
            <div class="p-4">
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="w-6 h-6 group-hover:fill-sky-500"><path d="M0-240v-63q0-43 44-70t116-27q13 0 25 .5t23 2.5q-14 21-21 44t-7 48v65H0Zm240 0v-65q0-32 17.5-58.5T307-410q32-20 76.5-30t96.5-10q53 0 97.5 10t76.5 30q32 20 49 46.5t17 58.5v65H240Zm540 0v-65q0-26-6.5-49T754-397q11-2 22.5-2.5t23.5-.5q72 0 116 26.5t44 70.5v63H780Zm-455-80h311q-10-20-55.5-35T480-370q-55 0-100.5 15T325-320ZM160-440q-33 0-56.5-23.5T80-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T160-440Zm640 0q-33 0-56.5-23.5T720-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T800-440Zm-320-40q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T600-600q0 50-34.5 85T480-480Zm0-80q17 0 28.5-11.5T520-600q0-17-11.5-28.5T480-640q-17 0-28.5 11.5T440-600q0 17 11.5 28.5T480-560Zm1 240Zm-1-280Z"/></svg>
                </div>
                <div class="flex-auto">
                  <%= link_to about_us_path, data: {turbo: false}, class: "block font-semibold text-gray-900" do%>
                    Our Team
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">Meet the team at Blue Skies Above</p>
                </div>
              </div>
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="h-6 w-6 group-hover:fill-sky-500"><path d="m344-60-76-128-144-32 14-148-98-112 98-112-14-148 144-32 76-128 136 58 136-58 76 128 144 32-14 148 98 112-98 112 14 148-144 32-76 128-136-58-136 58Zm34-102 102-44 104 44 56-96 110-26-10-112 74-84-74-86 10-112-110-24-58-96-102 44-104-44-56 96-110 24 10 112-74 86 74 84-10 114 110 24 58 96Zm102-318Zm-42 142 226-226-56-58-170 170-86-84-56 56 142 142Z"/></svg>
                </div>
                <div class="flex-auto">
                  <%= link_to why_bsa_path, data: {turbo: false}, class: "block font-semibold text-gray-900" do%>
                    Why Blue Skies Above?
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">The only local flight school with a Cessna fleet. When you're here, you're family</p>
                </div>
              </div>
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="w-6 h-6 group-hover:fill-sky-500"><path d="M720-400v-120H600v-80h120v-120h80v120h120v80H800v120h-80Zm-360-80q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"/></svg>
                </div>
                <div class="flex-auto">
                  <%= link_to join_team_path, data: {turbo: false}, class: "block font-semibold text-gray-900" do%>
                    Join the team
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">Are you a CFI looking to teach the next generation of aviators? Apply today!</p>
                </div>
              </div>
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="h-6 w-6 group-hover:fill-sky-500"><path d="M560-564v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-600q-38 0-73 9.5T560-564Zm0 220v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-380q-38 0-73 9t-67 27Zm0-110v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-490q-38 0-73 9.5T560-454ZM260-320q47 0 91.5 10.5T440-278v-394q-41-24-87-36t-93-12q-36 0-71.5 7T120-692v396q35-12 69.5-18t70.5-6Zm260 42q44-21 88.5-31.5T700-320q36 0 70.5 6t69.5 18v-396q-33-14-68.5-21t-71.5-7q-47 0-93 12t-87 36v394Zm-40 118q-48-38-104-59t-116-21q-42 0-82.5 11T100-198q-21 11-40.5-1T40-234v-482q0-11 5.5-21T62-752q46-24 96-36t102-12q58 0 113.5 15T480-740q51-30 106.5-45T700-800q52 0 102 12t96 36q11 5 16.5 15t5.5 21v482q0 23-19.5 35t-40.5 1q-37-20-77.5-31T700-240q-60 0-116 21t-104 59ZM280-494Z"/></svg>
                </div>
                <div class="flex-auto">
                  <%= link_to blog_path, data: {turbo: false}, class: "block font-semibold text-gray-900" do%>
                    Blog
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">Check out the latest news, articles, and events at 7A3 Lanett Municipal Airport</p>
                </div>
              </div>
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg class="h-6 w-6 group-hover:fill-sky-500" version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                    <g>
                      <path d="M11.5,14c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h1c0.3,0,0.5-0.2,0.5-0.5S12.8,12,12.5,12H12v-0.5c0-0.3-0.2-0.5-0.5-0.5
		S11,11.2,11,11.5v0.6c-0.6,0.2-1,0.8-1,1.4c0,0.8,0.7,1.5,1.5,1.5c0.3,0,0.5,0.2,0.5,0.5S11.8,16,11.5,16h-1
		c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5H11v0.5c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5v-0.6c0.6-0.2,1-0.8,1-1.4
		C13,14.7,12.3,14,11.5,14z"/>
                      <path d="M21,18c-0.8,0-1.6,0.4-2.2,0.9l-2.5-1.7c0.4-0.8,0.7-1.7,0.7-2.7c0-0.6-0.1-1.2-0.3-1.8l1.8-0.8c0.5,0.6,1.2,1.1,2,1.1
		c1.4,0,2.5-1.1,2.5-2.5S21.9,8,20.5,8c-0.1,0-0.3,0-0.4,0l-0.6-1.4C19.8,6.3,20,5.9,20,5.5C20,4.7,19.3,4,18.5,4S17,4.7,17,5.5
		S17.7,7,18.5,7c0,0,0.1,0,0.1,0l0.6,1.4C18.5,8.9,18,9.6,18,10.5c0,0.2,0,0.4,0.1,0.5l-1.8,0.8C15.4,10.1,13.6,9,11.5,9
		C10,9,8.7,9.6,7.7,10.5L6.4,9.4C6.8,8.9,7,8.2,7,7.5c0-0.6-0.2-1.1-0.4-1.6l2.2-1.6C9.2,4.7,9.8,5,10.5,5c1.3,0,2.4-1.1,2.5-2.4
		l2.2-0.4C15.4,2.7,15.9,3,16.5,3C17.3,3,18,2.3,18,1.5S17.3,0,16.5,0c-0.7,0-1.3,0.5-1.5,1.2l-2.2,0.4C12.5,0.7,11.6,0,10.5,0
		C9.1,0,8,1.1,8,2.5c0,0.4,0.1,0.7,0.2,1L6,5.1C5.4,4.4,4.5,4,3.5,4C1.6,4,0,5.6,0,7.5S1.6,11,3.5,11c0.9,0,1.7-0.3,2.3-0.9l1.3,1.1
		c-0.7,0.9-1.1,2-1.1,3.2c0,1.1,0.3,2,0.8,2.9l-1.7,1.3c-0.4-0.4-1-0.6-1.7-0.6C2.1,18,1,19.1,1,20.5S2.1,23,3.5,23S6,21.9,6,20.5
		c0-0.4-0.1-0.7-0.2-1.1l1.7-1.3c1,1.1,2.5,1.8,4.1,1.8c1.7,0,3.2-0.8,4.2-2l2.5,1.7C18.1,20.1,18,20.6,18,21c0,1.7,1.3,3,3,3
		s3-1.3,3-3S22.7,18,21,18z M18,5.5C18,5.2,18.2,5,18.5,5S19,5.2,19,5.5S18.8,6,18.5,6S18,5.8,18,5.5z M20.5,9
		c0.8,0,1.5,0.7,1.5,1.5S21.3,12,20.5,12S19,11.3,19,10.5S19.7,9,20.5,9z M16.5,1C16.8,1,17,1.2,17,1.5S16.8,2,16.5,2S16,1.8,16,1.5
		S16.2,1,16.5,1z M10.5,1C11.3,1,12,1.7,12,2.5S11.3,4,10.5,4S9,3.3,9,2.5S9.7,1,10.5,1z M3.5,22C2.7,22,2,21.3,2,20.5
		S2.7,19,3.5,19S5,19.7,5,20.5S4.3,22,3.5,22z M3.5,10C2.1,10,1,8.9,1,7.5S2.1,5,3.5,5S6,6.1,6,7.5S4.9,10,3.5,10z M11.5,19
		C9,19,7,17,7,14.5S9,10,11.5,10s4.5,2,4.5,4.5S14,19,11.5,19z M21,23c-1.1,0-2-0.9-2-2s0.9-2,2-2s2,0.9,2,2S22.1,23,21,23z"/>
                    </g>
                  </svg>
                </div>
                <div class="flex-auto">
                  <%= link_to financing_path, data: {turbo: false}, class: "block font-semibold text-gray-900" do%>
                    Financing
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">Learn about financing options for your flight training at Blue Skies Above</p>
                </div>
              </div>
              <div class="group relative flex gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg class="h-6 w-6 group-hover:text-sky-500" viewBox="0 0 24 24"><path fill="currentColor" d="M6.25 2A2.25 2.25 0 0 0 4 4.25v15.5A2.25 2.25 0 0 0 6.25 22h7.5A2.25 2.25 0 0 0 16 19.771v-1.52a.75.75 0 0 0-.75-.75c-.453 0-.739-.123-.936-.282c-.208-.167-.38-.425-.511-.789c-.273-.755-.302-1.75-.302-2.68a.75.75 0 0 0-.202-.512l-.165-.177a3 3 0 0 0-.17-.173c-.074-.07-.3-.285-1.183-1.168c-.469-.469-.728-.865-.813-1.168a.6.6 0 0 1-.016-.325a.7.7 0 0 1 .205-.323a.7.7 0 0 1 .322-.204a.6.6 0 0 1 .324.016c.302.085.698.346 1.167.815c.54.54 1.053 1.047 1.512 1.5c.76.752 1.373 1.36 1.72 1.73a.75.75 0 0 0 1.097-1.023A55 55 0 0 0 16 11.424V8.06l2.842 2.842c.421.422.659.994.659 1.59v8.758a.75.75 0 0 0 1.5 0v-8.757a3.75 3.75 0 0 0-1.099-2.652L16 5.939v-1.69A2.25 2.25 0 0 0 13.75 2zm6.142 14.94c.097.268.222.534.384.782A2.25 2.25 0 0 0 11.5 19.75v.75h-3v-.75a2.25 2.25 0 0 0-2.25-2.25H5.5v-11h.75A2.25 2.25 0 0 0 8.5 4.25V3.5h3v.75a2.25 2.25 0 0 0 2.25 2.25h.75v3.438l-.469-.468c-.531-.531-1.148-1.008-1.821-1.198a2.1 2.1 0 0 0-1.104-.025a2 2 0 0 0-.632.285a3.5 3.5 0 1 0 1.55 6.324c.037.684.13 1.427.368 2.084M8 12a2 2 0 0 1 1.456-1.925a2.2 2.2 0 0 0 .068.883c.189.673.665 1.291 1.197 1.823l.665.662A2 2 0 0 1 8 12M5.5 4.25a.75.75 0 0 1 .75-.75H7v.75a.75.75 0 0 1-.75.75H5.5zM13 3.5h.75a.75.75 0 0 1 .75.75V5h-.75a.75.75 0 0 1-.75-.75zM14.5 19v.75a.75.75 0 0 1-.75.75H13v-.75a.75.75 0 0 1 .75-.75zM7 20.5h-.75a.75.75 0 0 1-.75-.75V19h.75a.75.75 0 0 1 .75.75z"/></svg>
                </div>
                <div class="flex-auto">
                  <%= link_to leaseback_path, data: {turbo: false}, class: "block font-semibold text-gray-900" do%>
                    Leaseback Program
                    <span class="absolute inset-0"></span>
                  <% end %>
                  <p class="mt-1 text-gray-600">
                    Earn money while you're not flying your aircraft. Learn more about our leaseback program
                  </p>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-2 divide-x divide-gray-900/5 bg-gray-50">
              <%= link_to visit_path, data: {turbo: false}, class: "flex group items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100" do%>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-hover:text-sky-500">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                </svg>
                Schedule Visit
              <% end %>
              <%= link_to contact_path, data: {turbo: false}, class: "flex group items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100" do%>
                <svg class="h-5 w-5 flex-none text-gray-400 group-hover:text-sky-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z" clip-rule="evenodd" />
                </svg>
                Contact Us
              <% end  %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# CENTER LOGO %>
    <%= link_to root_path, data: { turbo: false }, class: "-m-1.5 hidden lg:block " do%>
      <span class="sr-only">Blue Skies Above</span>
      <%# desktop logo %>
      <%#= image_tag "blue-skies-logo.webp", class: "h-16 xl:h-24 w-auto object-contain duration-300 hover:scale-105 hover:brightness-105", alt: "Blue Skies Above logo"%>
      <%= image_tag "blue-skies-reverse-logo.webp", class: "h-16 xl:h-24 w-auto object-contain duration-300 hover:scale-110", alt: "Blue Skies Above logo"%>
    <%end%>
    <div class="flex flex-row-reverse w-full lg:hidden justify-between">
      <%# mobile logo %>
      <div class=""></div>
      <%= image_tag "blue-skies-reverse-logo.webp", class: "h-20 -ml-8", alt: "Blue Skies Above logo"%>
      <%# HAMBURGER BUTTON %>
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white">
          <span class="sr-only">Open main menu</span>
          <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
    </div>
    <%# RIGHT LINKS %>
    <div class="hidden lg:flex flex-1 justify-between lg:gap-x-12">
      <%= link_to visit_path, data: { turbo: false }, class: "flex w-full justify-end text-base xl:text-2xl tracking-wider uppercase text-white hover:scale-125 duration-300 text-center" do %>
        VISIT <br>
        SCHOOL
      <% end %>
      <%= link_to discovery_flight_path, data: { turbo: false }, class: "flex w-full justify-end text-base xl:text-2xl tracking-wider uppercase text-white hover:scale-125 duration-300 text-center" do %>
        DISCOVERY <br>
        FLIGHT
      <% end %>
      <%= link_to contact_path, data: { turbo: false }, class: "flex w-full justify-end text-base xl:text-2xl tracking-wider uppercase text-white hover:scale-125 duration-300 text-center" do %>
        CONTACT <br>
        US
      <% end %>
    </div>
  </nav>
  <%= render "shared/nav_mobile"%>
</header>
