<section class="bg-gradient-to-br from-gray-100 to-gray-300 py-20 px-5 flex flex-col items-center">
  <div class="text-lg font-semibold text-sky-600 text-center pb-5">Dedicated to flight training</div>
  <h2 class="text-3xl font-semibold text-center text-gray-700"><span class="font-bold text-custom-500">Blue Skies Above</span> is a proud partner of these aviation associations and companies</h2>
  <div class="flex flex-col lg:flex-row items-center justify-center pt-10 gap-10 px-10 lg:px-0 w-3/4 lg:w-full">
    
    <%= link_to "https://www.faasafety.gov/" do %>
      <%= image_tag "blue-skies-faasteam.webp", alt: "FAA Safety Team", class: "hover:scale-105 duration-300"%>
    <%end%>
    <%= link_to "https://www.gleimaviation.com/" do %>
      <%= image_tag "blue-skies-gleim.webp", alt: "Gleim Logo", class: "hover:scale-105 duration-300"%>
    <%end%>
    <%= link_to "https://cessna.txtav.com/" do %>
      <%= image_tag "blue-skies-cessna-logo.webp", alt: "Cessna Logo", class: "hover:scale-105 duration-300"%>
    <%end%>
    <%= link_to "https://www.nafinet.org" do %>
      <%= image_tag "blue-skies-nafi-logo.webp", alt: "National Association of Flight Instructors logo", class: "hover:scale-105 duration-300"%>
    <%end%>
    <%= link_to "https://fsana.com/" do %>
      <%= image_tag "blue-skies-fsana-logo.webp", alt: "Flight School Association of North America", class: "hover:scale-105 duration-300"%>
    <%end%>
    <%= link_to "https://www.flighttrainingfinancellc.com/" do %>
      <%= image_tag "flight-training-finance-logo.webp", alt: "Flight Training Finance logo", class: "scale-105 hover:scale-110 duration-300"%>
    <%end%>
    
    


  </div>
</section>