<%# Head / Meta Data %>
<% title("Pilot Training for Auburn Students | Blue Skies Above") %>
<% meta_description("Discover the premier flight training options for Auburn University students at Blue Skies Above. Prepare for your Private Pilot License (PPL), Commercial Single Engine Land (CSEL), and Certified Flight Instructor (CFI) ratings with us.") %>
<% meta_keywords("Auburn Pro Flight program, Auburn pilot training, flight school Auburn, CSEL Auburn, CFI Auburn, Auburn University aviation, pilot certification Auburn, flight training Alabama, Blue Skies Above") %>
<%# og_image(image_url("meta_pic_auburn.webp")) %>
<%# twitter_image(image_url("meta_pic_auburn_twitter.webp")) %>

<%= render "shared/phone_banner"%>
<%= render "shared/nav"%>

<header class="w-full bg-sunset-dark bg-cover bg-center h-screen-3/4 lg:h-screen-4/5 flex justify-center items-center text-white">
  <div class="px-5 py-24 lg:py-32 flex flex-col justify-start items-center lg:items-end h-full w-full text-center lg:text-right">
      <h1 class="text-4xl font-bold tracking-tight sm:text-6xl text-white">Pilot Training for Auburn Students</h1>
      <h2 class="mt-6 text-xl leading-8 text-gray-200">Your Path to Becoming a Certified Pilot</h2>
      <div class="flex flex-row lg:flex-row items-center mt-5">
        <%= link_to "Visit School", visit_path, target: "blank", data: { turbo: false }, class: "btn-primary " %>
        <%= link_to discovery_flight_path do %>
          <div class="ml-5 flex group items-center">
            <div class="mr-3">Discovery Flight</div>
            <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
          </div>
        <%end%>
      </div>
  </div>
</header>

<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-sky-600">Welcome Auburn University Students</p>
    <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Flight Training Programs</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">Blue Skies Above proudly serves the Auburn area, providing flight training for future aviators. Whether you're just starting or advancing your aviation career, we offer comprehensive programs to meet your needs.</p>
  </div>
</div>

<div class="relative bg-white">
  <div class="mx-auto max-w-7xl lg:flex lg:justify-between lg:px-8 xl:justify-end">
    <div class="lg:flex lg:w-1/2 lg:shrink lg:grow-0 xl:absolute xl:inset-y-0 xl:right-1/2 xl:w-1/2">
      <div class="relative h-80 lg:-ml-8 lg:h-auto lg:w-full lg:grow xl:ml-0">
        <%= image_tag "blue-skies-auburn-university-student-pilot-programs.webp", alt: "Auburn Student", class: "absolute inset-0 h-full w-full bg-gray-50 object-cover"%>
      </div>
    </div>
    <div class="px-6 lg:contents">
      <div class="mx-auto max-w-2xl pb-24 pt-16 sm:pb-32 sm:pt-20 lg:ml-8 lg:mr-0 lg:w-full lg:max-w-lg lg:flex-none lg:pt-32 xl:w-1/2">
        <p class="text-base font-semibold leading-7 text-sky-600">Auburn Flight Training</p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Programs We Offer</h1>
        <p class="mt-6 text-xl leading-8 text-gray-700">Our programs are designed to cater to students at different stages of their flight training journey. Whether you're starting with a Private Pilot License (PPL), advancing to a Commercial Single Engine Land (CSEL) rating, or training to become a Certified Flight Instructor (CFI), we have you covered.</p>
        <p class="mt-6 text-xl leading-8 text-gray-700">Many Auburn University students choose to fly at Blue Skies Above due to our aircraft availability, instructors, and flexibility.  For those students that have not yet started the semester yet, getting your private pilot at Blue Skies Above is a great way to set yourself apart from the rest of the class.  For those who have progressed through their training and are looking for the next steps, obtaining your CSEL or CFI may be the right next thing for you.  Talk to a Blue Skies team member today!</p>
        <div class="mt-10 max-w-xl text-base leading-7 text-gray-700 lg:max-w-none">
          <ul role="list" class="mt-8 space-y-4 text-gray-600">
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"  class="mt-1 h-5 w-5 flex-none fill-sky-600"><rect fill="none" height="24" width="24"/><path d="M22,5.18L10.59,16.6l-4.24-4.24l1.41-1.41l2.83,2.83l10-10L22,5.18z M19.79,10.22C19.92,10.79,20,11.39,20,12 c0,4.42-3.58,8-8,8s-8-3.58-8-8c0-4.42,3.58-8,8-8c1.58,0,3.04,0.46,4.28,1.25l1.44-1.44C16.1,2.67,14.13,2,12,2C6.48,2,2,6.48,2,12 c0,5.52,4.48,10,10,10s10-4.48,10-10c0-1.19-0.22-2.33-0.6-3.39L19.79,10.22z"/></svg>
              <span><strong class="font-semibold text-gray-900">Private Pilot Certificate (PPL).</strong> Start your aviation journey with our PPL program, designed to take you from zero experience to a confident pilot in command.</span>
            </li>
            <li class="ml-8 pb-8">
              <%= link_to private_pilot_path do%>
                <span class=" text-sky-600 hover:underline">Click here to learn more about our Private Pilot Program</span>
              <%end%>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"  class="mt-1 h-5 w-5 flex-none fill-sky-600"><rect fill="none" height="24" width="24"/><path d="M22,5.18L10.59,16.6l-4.24-4.24l1.41-1.41l2.83,2.83l10-10L22,5.18z M19.79,10.22C19.92,10.79,20,11.39,20,12 c0,4.42-3.58,8-8,8s-8-3.58-8-8c0-4.42,3.58-8,8-8c1.58,0,3.04,0.46,4.28,1.25l1.44-1.44C16.1,2.67,14.13,2,12,2C6.48,2,2,6.48,2,12 c0,5.52,4.48,10,10,10s10-4.48,10-10c0-1.19-0.22-2.33-0.6-3.39L19.79,10.22z"/></svg>
              <span><strong class="font-semibold text-gray-900">Commercial Single Engine Land (CSEL).</strong> Advance your skills with our CSEL program, perfect for those looking to pursue a professional aviation career.</span>
            </li>
            <li class="ml-8 pb-8">
              <%= link_to cpl_path do%>
                <span class=" text-sky-600 hover:underline">Click here to learn more about our Commercial Pilot Program</span>
              <%end%>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"  class="mt-1 h-5 w-5 flex-none fill-sky-600"><rect fill="none" height="24" width="24"/><path d="M22,5.18L10.59,16.6l-4.24-4.24l1.41-1.41l2.83,2.83l10-10L22,5.18z M19.79,10.22C19.92,10.79,20,11.39,20,12 c0,4.42-3.58,8-8,8s-8-3.58-8-8c0-4.42,3.58-8,8-8c1.58,0,3.04,0.46,4.28,1.25l1.44-1.44C16.1,2.67,14.13,2,12,2C6.48,2,2,6.48,2,12 c0,5.52,4.48,10,10,10s10-4.48,10-10c0-1.19-0.22-2.33-0.6-3.39L19.79,10.22z"/></svg>
              <span><strong class="font-semibold text-gray-900">Certified Flight Instructor (CFI).</strong> Train to become a flight instructor and share your passion for aviation with others.</span>
            </li>
            <li class="ml-8 pb-8">
              <%= link_to cfi_path do%>
                <span class=" text-sky-600 hover:underline">Click here to learn more about our Flight Instructor Program</span>
              <%end%>
            </li>
          </ul>
          <p class="mt-8">Blue Skies Above is dedicated to providing you with the best training experience. Our expert instructors, state of the art facilities, and comprehensive curriculum ensure you are well prepared for your aviation career. Contact us today to learn more about our programs and start your journey with us.</p>
          <%= button_to "Contact Us", contact_path, target: "blank", method: :get, data: { turbo: false }, class: "btn-primary my-10" %>
        </div>
      </div>
    </div>
  </div>
</div>



<%= render "shared/cta_3_steps" %>
<%= render "shared/cta_were_experts" %>
<%= render "shared/footer"%>
