<%# Head / Meta Data %>
<% title("CFI - Certified Flight Instructor | Blue Skies Above") %>
<% meta_description("Start working towards becoming a Certified Flight Instructor (CFI). Continue the tradition of instruction by guiding the next class of pilots in Lanett, AL.") %>
<% meta_keywords("Certified Flight Instructor (CFI) Opelika, CFI certification requirements Columbus, Flight instructor training Auburn University, CFI written exam 7A3, Aviation teaching methods, Flight instruction techniques, PTS practical test standards cfi
") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<%= render "shared/phone_banner"%>
<%= render "shared/nav"%>

<header class="w-full bg-cfi bg-cover bg-center h-screen-3/4 lg:h-screen-4/5 flex justify-center items-center">
  <div class="px-5 py-24 lg:py-32 flex flex-col justify-start items-center lg:items-end h-full w-full text-center lg:text-right">
      <h1 class="text-4xl font-bold tracking-tight sm:text-6xl text-white">Certified Flight Instructor</h1>
      <h2 class="mt-6 text-xl leading-8 text-gray-200">Train the next generation of aviators</h2>
      <div class="flex flex-row lg:flex-row items-center mt-5">
        <%= link_to "Enroll Today", enroll_path, target: "blank", data: { turbo: false }, class: "btn-primary " %>
        <%= link_to visit_path do %>
          <div class="ml-5 flex group items-center text-white">
            <div class="mr-3">Visit School</div>
            <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
          </div>
        <%end%>
      </div>
  </div>
</header>

<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-sky-600">Become a CFI</p>
    <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Certified Flight Instructor</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">A CFI is a mentor and coach for their <br class="hidden md:block"> student pilots and teaches them how to fly.</p>
  </div>
</div>


<div class="relative bg-white">
  <div class="mx-auto max-w-7xl lg:flex lg:justify-between lg:px-8 xl:justify-end">
    <div class="lg:flex lg:w-1/2 lg:shrink lg:grow-0 xl:absolute xl:inset-y-0 xl:right-1/2 xl:w-1/2">
      <div class="relative h-80 lg:-ml-8 lg:h-auto lg:w-full lg:grow xl:ml-0">
        <%= image_tag "blue-skies-tower-auburn.webp", alt: "Control tower at airport auburn alabama lanett", class: "absolute inset-0 h-full w-full bg-gray-50 object-cover object-right"%>
      </div>
    </div>
    <div class="px-6 lg:contents">
      <div class="mx-auto max-w-2xl pb-24 pt-16 sm:pb-32 sm:pt-20 lg:ml-8 lg:mr-0 lg:w-full lg:max-w-lg lg:flex-none lg:pt-32 xl:w-1/2">
        <p class="text-base font-semibold leading-7 text-sky-600">Certified Flight Instructor</p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">CFI training at Lanett Municipal Airport 7A3</h1>
        <p class="mt-6 text-xl leading-8 text-gray-700">Many pilots on their way to the airlines or other careers in aviation spend a few years instructing to gain experience and flight hours.  Some pilots enjoy flight instructing and choose to make it a long term career.</p>
        <div class="mt-10 max-w-xl text-base leading-7 text-gray-700 lg:max-w-none">
          <p>While being a CFI is the most common route for commercial pilots to gain enough flight experience to qualify for ATP minimums, it is not the best route for everyone.  CFIs have a direct impact in the future of aspiring pilots and if a CFI is not passionate about aviation and teaching, it can be detrimental in the experience of aspiring pilots.</p>
          <p class="pt-10">At Blue Skies Above, we take great pride in offering the best pilot instruction and education.  Blue Skies Above is the place of professional flight instruction</p>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">CFI Eligibility Requirements</h2>
          <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li class="flex gap-x-3">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"  class="mt-1 h-5 w-5 flex-none fill-sky-600"><rect fill="none" height="24" width="24"/><path d="M22,5.18L10.59,16.6l-4.24-4.24l1.41-1.41l2.83,2.83l10-10L22,5.18z M19.79,10.22C19.92,10.79,20,11.39,20,12 c0,4.42-3.58,8-8,8s-8-3.58-8-8c0-4.42,3.58-8,8-8c1.58,0,3.04,0.46,4.28,1.25l1.44-1.44C16.1,2.67,14.13,2,12,2C6.48,2,2,6.48,2,12 c0,5.52,4.48,10,10,10s10-4.48,10-10c0-1.19-0.22-2.33-0.6-3.39L19.79,10.22z"/></svg>
              <span><strong class="font-semibold text-gray-900">Be 18 years old and speak English</strong> A minimum requirement that should have been met if you've gotten your private, instrument, and commercial already.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" class="mt-1 h-5 w-5 flex-none fill-sky-600" height="24" viewBox="0 -960 960 960" width="24"><path d="M560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T903-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v120h-80v-80H520v-200H240v640h240v80H240Zm280-400Zm241 199-19-18 37 37-18-19Z"/></svg>
              <span><strong class="font-semibold text-gray-900">Pass your knowledge test</strong> To become a CFI you will need to understand the fundamentals of instructing and meet the requirements of the PTS (practical test standards).</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"  viewBox="0 0 24 24" class="mt-1 h-5 w-5 flex-none fill-sky-600"><g><rect fill="none" height="24" width="24"/></g><g><g><rect height="2" width="11" x="3" y="10"/><rect height="2" width="11" x="3" y="6"/><rect height="2" width="7" x="3" y="14"/><polygon points="20.59,11.93 16.34,16.17 14.22,14.05 12.81,15.46 16.34,19 22,13.34"/></g></g></svg>
              <span><strong class="font-semibold text-gray-900">Hold a commercial pilot certificate</strong> You'll need have flown a minimum of 250 flight hours and hold a commercial pilot certificate to qualify to be a flight instructor.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"  viewBox="0 0 24 24" class="mt-1 h-5 w-5 flex-none fill-sky-600"><g><rect fill="none" height="24" width="24"/></g><g><g><rect height="2" width="11" x="3" y="10"/><rect height="2" width="11" x="3" y="6"/><rect height="2" width="7" x="3" y="14"/><polygon points="20.59,11.93 16.34,16.17 14.22,14.05 12.81,15.46 16.34,19 22,13.34"/></g></g></svg>
              <span><strong class="font-semibold text-gray-900">Receive logbook endorsement from an authorized instructor</strong> You'll need to have met and trained with an authorized instructor and that instructor will need to sign you off stating that they feel you are ready to take the practical flight exam.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" class="mt-1 h-5 w-5 flex-none fill-sky-600" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-120v-80h720v80H120Zm74-200L80-514l62-12 70 62 192-52-162-274 78-24 274 246 200-54q32-9 58 12t26 56q0 22-13.5 39T830-492L194-320Z"/></svg>
              <span><strong class="font-semibold text-gray-900">Fly with an examiner</strong> You'll fly with a FAA Designated Pilot Examiner (DPE) and demonstrate you have the skills to fly as a commercial pilot and meet the requirements of the Pratical Test Standards (PTS).</span>
            </li>
          </ul>
          <p class="mt-8">Blue Skies Above will prepare you for all of the required exams with the necessary materials and education.  Give us a call and schedule a time to fly with a CFI to get started.</p>
          
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">What to expect during CFI training?</h2>
          <p class="mt-6">Our CFI training program is designed to immerse you in comprehensive instruction, covering essential aspects of aviation education, effective communication, and hands on teaching techniques. At Blue Skies Above, we provide the tools and expertise necessary to guide aspiring CFIs, fostering a supportive environment for your growth as an instructor.</p>
          <p class="mt-6 mb-10">To start CFI training at Blue Skies Above, take the initial step by reaching out to Blue Skies Above team today. Connect with our team, explore the classroom and planes, and review the comprehensive syllabus. Let's kickstart your CFI training.  This is your opportunity to train the next generation of pilots and make an impact!</p>
          <%= button_to "Visit School", visit_path, target: "blank", method: :get, data: { turbo: false }, class: "btn-primary " %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/typography'),
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="overflow-hidden bg-white">
  <div class="relative mx-auto max-w-7xl px-6 py-16 lg:px-8">
    <div class="absolute bottom-0 left-3/4 top-0 hidden w-screen bg-sky-50 lg:block"></div>
    <div class="mx-auto max-w-prose text-base lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-8">
      <div>
        <h2 class="text-lg font-semibold text-sky-600">Frequently Asked</h2>
        <h3 class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Is becoming a CFI right for me?</h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:col-start-2 lg:row-start-1">
        <svg class="absolute right-0 top-0 -mr-20 -mt-20 hidden lg:block" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <%# REMOVE DOTS 
          <defs> 
            <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs> %>
          <rect width="404" height="384" class="fill-sky-100" />
        </svg>
        <div class="relative mx-auto max-w-prose text-base lg:max-w-none">
          <figure>
            <div class="aspect-h-7 aspect-w-12 lg:aspect-none">
              
              <%= image_tag "blue-skies-lanett-tie-down-plane.webp", alt: "CFI tieing down plane after a flight Lanett, Alabama", class: "rounded-lg object-cover object-center shadow-lg"%>
              
            </div>
            <figcaption class="mt-3 flex text-sm text-gray-500">
              <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1 8a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 018.07 3h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0016.07 6H17a2 2 0 012 2v7a2 2 0 01-2 2H3a2 2 0 01-2-2V8zm13.5 3a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM10 14a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
              </svg>
              <span class="ml-2">CFI tying down a plane after a flight Lanett, Alabama</span>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="mx-auto max-w-prose text-base lg:max-w-none">
          <p class="text-lg text-gray-500">Are you a pilot getting to close to 250 hours and wondering what's next after you complete your commercial pilot training?  The thought of instructing has probably crossed your mind a few times during your pilot training journey.  Depending on what your career goals are, the answer can vary drastically.</p>
        </div>
        <div class="prose prose-sky mx-auto mt-5 text-gray-500 lg:col-start-1 lg:row-start-1 lg:max-w-none">
          <p>Once you've completed your commercial pilot training the world of aviation opens up with various opportunities to turn your passion for flying into a rewarding career. At Blue Skies Above, our flight school located at Airport 7A3 in Lanett, AL, we understand that your career goals play a crucial role in shaping your next steps. Let's explore if becoming a CFI is right for you.</p>
          <h3>Do you enjoy teaching others?</h3>
          <p>If you find joy in sharing your knowledge and skills with others, becoming a CFI could be a perfect fit. Instructing allows you to play a pivotal role in shaping the next generation of aviators. At Blue Skies Above, we believe that effective teaching is not just about imparting information but fostering a passion for flight and instilling the highest standards of safety and professionalism.</p>
          <p>A flight instructor is a coach and a mentor to their student pilots.  Becoming a CFI allows you to leave a lasting impact on the aviation community. By guiding and inspiring new pilots, you contribute to the growth and safety of the industry. If leaving a positive legacy in aviation resonates with your aspirations, CFI training at Blue Skies Above is a step toward fulfilling that vision.</p>
          <h3>Do you have a passion for aviation and safety?</h3>
          <p>As a CFI, you'll be at the forefront of promoting safety and precision in aviation. If you have a keen eye for detail and a commitment to instilling best practices in your students, the role of a CFI aligns seamlessly with your values. Blue Skies Above's CFI training program ensures that you are well equipped to pass down these principles in your future students.</p>

          <%# 
          <ul role="list">
            <li>Quis elit egestas venenatis mattis dignissim.</li>
            <li>Cras cras lobortis vitae vivamus ultricies facilisis tempus.</li>
            <li>Orci in sit morbi dignissim metus diam arcu pretium.</li>
          </ul>
          <p>Rhoncus nisl, libero egestas diam fermentum dui. At quis tincidunt vel ultricies. Vulputate aliquet velit faucibus semper. Pellentesque in venenatis vestibulum consectetur nibh id. In id ut tempus egestas. Enim sit aliquam nec, a. Morbi enim fermentum lacus in. Viverra.</p>
           %>
          <h3>Become a flight instructor</h3>
          <p>Whether you're considering pilot opportunities in Auburn, Columbus, Opelika, Atlanta, Columbus, Georgia, Alabama; Blue Skies Above is here to support your aviation journey. Explore the diverse opportunities and aviation needs of the region while gaining the experience and flight hours needed for your chosen career path. As you approach this pivotal point in your aviation career, remember that the skies are full of possibilities, and Blue Skies Above is here to help you begin your pilot career.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Image section -->
<div class="xl:mx-auto xl:max-w-7xl px-3 xl:px-8 py-10">
  <%= image_tag "blue-skies-above-student-pilot-passing-cfi-checkride.webp", alt: "Blue Skies Above in Lanett, AL student pilot passing CFI checkride", class: "lg:aspect-[5/3] w-full object-cover rounded-lg xl:rounded-3xl"%>
</div>

<div class="bg-gradient-to-br from-sky-200 to-gray-100 py-24 sm:py-32 all">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h2 class="text-base font-semibold leading-7 text-sky-600">Pricing</h2>
      <p class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Learn More About Our Training Packages</p>
    </div>
    <div class="isolate mx-auto mt-10 flex flex-col items-center max-w-md gap-8 md:max-w-2xl lg:max-w-4xl xl:mx-0 xl:max-w-none">

      <div class="bg-white rounded-3xl lg:w-[700px] p-5 ring-1 ring-gray-200 hover:ring-sky-600 hover:ring-2 group duration-100 flex flex-col lg:flex-row justify-center lg:gap-10">
        <div class="lg:w-1/2">
          <h3 id="tier-ppl-certificate" class="text-lg font-semibold leading-8 text-gray-900 group-hover:text-sky-600 duration-100">Certified Flight Instructor</h3>
          <p class="mt-4 text-sm leading-6 text-gray-600">FAA Minimums</p>
          <p class="mt-4 text-sm leading-6 text-gray-600">*5 weeks to complete (approximately)</p>
          <p class="mt-4 flex items-baseline gap-x-1">
            <span class="text-4xl font-bold tracking-tight text-gray-900">$9,330</span>
          </p>
          <p class="mt-2">or</p>
          <p class="mt-4 flex items-baseline gap-x-1">As low as</p>
          <p class="flex items-baseline gap-x-1">
            <span class="text-4xl font-bold tracking-tight text-gray-900">$257</span><span>/month</span>
          </p>
          <p class="text-sm">with <%= link_to "Flight Training Financing", financing_path, class: "inline hover:underline" %></p>
          <%# <a href="#" aria-describedby="tier-ppl-certificate" class="mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 text-sky-600 group-hover:bg-sky-600 group-hover:text-white ring-1 ring-inset ring-sky-200 hover:scale-105 duration-200">Book now</a> %>
          <%= link_to "Enroll Today", enroll_path, data: {turbo: false}, aria: { describedby: "tier-ppl-certificate" }, class: "mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 text-sky-600 group-hover:bg-sky-600 group-hover:text-white ring-1 ring-inset ring-sky-200 hover:scale-105 duration-200"%>
        </div>
        <div class="lg:w-1/2">
          <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600">
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              3 lessons per week
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              25 hours of flight time
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              22 hours of flight instruction
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              50 hours of ground instruction
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Ground school kit included
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Pay up front or incrementally
            </li>
          </ul>
        </div>
      </div>

      <%= link_to "See financing options", financing_path, class: "hover:underline uppercase text-sky-600 font-bold" %>
    </div>
  </div>
  <div class="flex flex-col items-center pt-32">
    <span>
      You can complete your training and pay by the hour instead of through a package.  To see our hourly rates, please 
      <%= link_to "click here",  pricing_path, data: {turbo: false}, class: "text-sky-700 hover:underline"%>
      .
    </span>
  </div>
</div>



<%= render "shared/cta_were_experts" %>
<%= render "shared/cta_next_steps" %>
<%= render "shared/footer"%>
