<%# Head / Meta Data %>
<% title("CFII - Certified Flight Instructor Instrument | Blue Skies Above") %>
<% meta_description("Start working towards becoming a Certified Flight Instructor Instrument (CFII). Continue the tradition of instruction by mentoring the next class of pilots in Lanett, AL.") %>
<% meta_keywords("Certified Flight Instructor Instrument (CFII) Opelika, CFII certification requirements Columbus, Flight instructor training Auburn University, CFII written exam 7A3, Aviation teaching methods, Flight instruction techniques, PTS practical test standards cfii, cfi(i)
") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<%= render "shared/phone_banner"%>
<%= render "shared/nav"%>

<header class="w-full bg-cfii bg-cover bg-center h-screen-3/4 lg:h-screen-4/5 flex justify-center items-center">
  <div class="px-5 py-24 lg:py-32 flex flex-col justify-start items-center lg:items-end h-full w-full text-center lg:text-right">
      <h1 class="text-4xl font-bold tracking-tight sm:text-6xl text-black">Certified Flight Instructor Instrument</h1>
      <h2 class="mt-6 text-xl leading-8 text-gray-800">Become an instrument instructor at Blue Skies Above</h2>
      <div class="flex flex-row lg:flex-row items-center mt-5">
        <%= link_to "Enroll Today", enroll_path, target: "blank", data: { turbo: false }, class: "btn-primary " %>
        <%= link_to visit_path do %>
          <div class="ml-5 flex group items-center text-black">
            <div class="mr-3">Visit School</div>
            <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
          </div>
        <%end%>
      </div>
  </div>
</header>

<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-sky-600">Certified Flight Instructor Instrument</p>
    <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Instrument Flight Instruction</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">Mentor student pilots to become instrument rated</p>
  </div>
</div>

<div class=" bg-sky-700">
  <div class="mx-auto flex gap-10 text-white py-10 max-w-7xl px-6 lg:px-8 items-center lg:flex-row flex-col w-full">
    <div class="lg:flex-1 flex flex-col gap-5 text-center lg:text-left">
      <h3 class="font-bold text-3xl lg:text-5xl">Why Become a Certified Flight Instructor?</h3>
      <h4 class="lg:text-xl">Becoming a Certified Flight Instructor opens doors to valuable experience, career advancement, and the opportunity to inspire the next generation of pilots. It strengthens your skills, builds flight hours, and positions you for success in the aviation industry.</h4>
    </div>
    <div class="lg:flex-1 lg:aspect-w-16 lg:aspect-h-5 h-full">
      <iframe
        class="w-full h-full rounded-xl"
        src="https://tube.rvere.com/embed?v=5MhGt_28Ifc"
        title="Teaching the Next Generation of Aviators | Become a Certified Flight Instructor"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowFullScreen>
      </iframe>
    </div>
  </div>
</div>

<div class="relative bg-white">
  <div class="mx-auto max-w-7xl lg:flex lg:justify-between lg:px-8 xl:justify-end">
    <div class="lg:flex lg:w-1/2 lg:shrink lg:grow-0 xl:absolute xl:inset-y-0 xl:right-1/2 xl:w-1/2">
      <div class="relative h-80 lg:-ml-8 lg:h-auto lg:w-full lg:grow xl:ml-0">
        <%= image_tag "blue-skies-flying-ifr-columbus-georgia-instrument-instructor.webp", alt: "CFII flying IFR Blue Skies Above", class: "absolute inset-0 h-full w-full bg-gray-50 object-cover object-right"%>
      </div>
    </div>
    <div class="px-6 lg:contents">
      <div class="mx-auto max-w-2xl pb-24 pt-16 sm:pb-32 sm:pt-20 lg:ml-8 lg:mr-0 lg:w-full lg:max-w-lg lg:flex-none lg:pt-32 xl:w-1/2">
        <p class="text-base font-semibold leading-7 text-sky-600">Certified Flight Instructor Instrument</p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">CFII training at Lanett Municipal Airport 7A3</h1>
        <p class="mt-6 text-xl leading-8 text-gray-700">Blue Skies Above CFII Program</p>
        <div class="mt-10 max-w-xl text-base leading-7 text-gray-700 lg:max-w-none">
          <p>Fly above the blue skies at with our Instrument Flight Instructor Training. In Lanett, Alabama, our training center at Lanett Municipal Airport 7A3 offers the ideal setting for focused aviation education. With a fleet featuring the renowned Cessna 172 aircraft, our program offers a direct path to becoming a proficient Certified Flight Instructor Instrument (CFII).</p>
          <p class="pt-10">At Blue Skies Above, we take great pride in offering the best pilot instruction and education.  Future CFIs that are trained at Blue Skies Above will embody excellence and professionalism.</p>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">CFII Eligibility Requirements</h2>
          <p>To enroll in our CFII program, you need:</p>
          <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li class="flex gap-x-3">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"  class="mt-1 h-5 w-5 flex-none fill-sky-600"><rect fill="none" height="24" width="24"/><path d="M22,5.18L10.59,16.6l-4.24-4.24l1.41-1.41l2.83,2.83l10-10L22,5.18z M19.79,10.22C19.92,10.79,20,11.39,20,12 c0,4.42-3.58,8-8,8s-8-3.58-8-8c0-4.42,3.58-8,8-8c1.58,0,3.04,0.46,4.28,1.25l1.44-1.44C16.1,2.67,14.13,2,12,2C6.48,2,2,6.48,2,12 c0,5.52,4.48,10,10,10s10-4.48,10-10c0-1.19-0.22-2.33-0.6-3.39L19.79,10.22z"/></svg>
              <span><strong class="font-semibold text-gray-900">Private pilot certificate</strong> You need a Private Pilot Certificate prior to becoming a CFII.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="mt-1 h-5 w-5 flex-none fill-sky-600"><path d="M240-200q-17 0-28.5-11.5T200-240q0-17 11.5-28.5T240-280q17 0 28.5 11.5T280-240q0 17-11.5 28.5T240-200Zm480 0q-17 0-28.5-11.5T680-240q0-17 11.5-28.5T720-280q17 0 28.5 11.5T760-240q0 17-11.5 28.5T720-200ZM360-40q-17 0-28.5-11.5T320-80q0-17 11.5-28.5T360-120q17 0 28.5 11.5T400-80q0 17-11.5 28.5T360-40Zm120-160q-17 0-28.5-11.5T440-240q0-17 11.5-28.5T480-280q17 0 28.5 11.5T520-240q0 17-11.5 28.5T480-200ZM600-40q-17 0-28.5-11.5T560-80q0-17 11.5-28.5T600-120q17 0 28.5 11.5T640-80q0 17-11.5 28.5T600-40ZM300-320q-91 0-155.5-64.5T80-540q0-83 55-145t136-73q32-57 87.5-89.5T480-880q90 0 156.5 57.5T717-679q69 6 116 57t47 122q0 75-52.5 127.5T700-320H300Zm0-80h400q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-40q0-66-47-113t-113-47q-48 0-87.5 26T333-704l-10 24h-25q-57 2-97.5 42.5T160-540q0 58 41 99t99 41Zm180-200Z"/></svg>
              <span><strong class="font-semibold text-gray-900">Instrument rating</strong> You need to have completed your instrument rating.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="mt-1 h-5 w-5 flex-none fill-sky-600"><path d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z"/></svg>
              <span><strong class="font-semibold text-gray-900">Commercial pilot certificate</strong> Build a solid flight experience foundation with a minimum of 250 flight hours, preparing you for the demands of CFII training.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="mt-1 h-5 w-5 flex-none fill-sky-600"><path d="M480-120 200-272v-240L40-600l440-240 440 240v320h-80v-276l-80 44v240L480-120Zm0-332 274-148-274-148-274 148 274 148Zm0 241 200-108v-151L480-360 280-470v151l200 108Zm0-241Zm0 90Zm0 0Z"/></svg>
              <span><strong class="font-semibold text-gray-900">Passion for teaching</strong> Bring your passion for teaching to the forefront, as our CFII program focuses not just on flying but on mentorship and effective instruction.</span>
            </li>
            
          </ul>
          <p class="mt-8">Blue Skies Above will prepare you for all of the required exams with the necessary materials and education.  Give us a call and schedule a time to fly with an instructor to get started.</p>
          
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">What to expect during CFII training?</h2>
          <p class="mt-6">Our CFI training program is designed to immerse you in comprehensive instruction, covering essential aspects of aviation education, effective communication, and hands on teaching techniques. At Blue Skies Above, we provide the tools and expertise necessary to guide aspiring CFIIs, fostering a supportive environment for your growth as an instructor.</p>
          <p class="mt-6 mb-10">To start CFII training at Blue Skies Above, take the initial step by reaching out to Blue Skies Above team today. Connect with our team, explore the classroom and planes, and review the comprehensive syllabus. Let's kickstart your CFII training.  This is your opportunity to train the next generation of pilots and make an impact!</p>
          <%= button_to "Visit School", visit_path, target: "blank", method: :get, data: { turbo: false }, class: "btn-primary " %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/typography'),
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="overflow-hidden bg-white">
  <div class="relative mx-auto max-w-7xl px-6 py-16 lg:px-8">
    <div class="absolute bottom-0 left-3/4 top-0 hidden w-screen bg-sky-50 lg:block"></div>
    <div class="mx-auto max-w-prose text-base lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-8">
      <div>
        <h2 class="text-lg font-semibold text-sky-600">Frequently Asked</h2>
        <h3 class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Should I get my double I?</h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:col-start-2 lg:row-start-1">
        <svg class="absolute right-0 top-0 -mr-20 -mt-20 hidden lg:block" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <%# REMOVE DOTS 
          <defs> 
            <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs> %>
          <rect width="404" height="384" class="fill-sky-100" />
        </svg>
        <div class="relative mx-auto max-w-prose text-base lg:max-w-none">
          <figure>
            <div class="aspect-h-7 aspect-w-12 lg:aspect-none">
              
              <%= image_tag "blue-skies-ifr-training-opelika.webp", alt: "IFR training at Blue Skies Above", class: "rounded-lg object-cover object-center shadow-lg"%>
              
            </div>
            <figcaption class="mt-3 flex text-sm text-gray-500">
              <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1 8a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 018.07 3h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0016.07 6H17a2 2 0 012 2v7a2 2 0 01-2 2H3a2 2 0 01-2-2V8zm13.5 3a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM10 14a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
              </svg>
              <span class="ml-2">IFR training at Blue Skies Above</span>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="mx-auto max-w-prose text-base lg:max-w-none">
          <p class="text-lg text-gray-500">Are you a Certified Flight Instructor (CFI) contemplating the addition of an Instrument Rating to your teaching certificate? Making this decision involves weighing several factors that can significantly impact your career and skill set.</p>
        </div>
        <div class="prose prose-sky mx-auto mt-5 text-gray-500 lg:col-start-1 lg:row-start-1 lg:max-w-none">
          <h3>Do you enjoy teaching others?</h3>
          <p>If teaching is at the core of your passion, obtaining your CFII could be a natural progression. The CFII rating enables you to share your knowledge of instrument flying, providing a valuable service to aspiring pilots looking to enhance their skills.</p>
          <p>Flight instruction goes beyond just flying. it involves effective communication, patience, and the ability to mentor others through complex concepts. If you find fulfillment in seeing your students succeed and take pride in their accomplishments, the CFII might be the logical next step in your instructional journey.</p>
          <h3>Do you have a passion for aviation and safety?</h3>
          <p>As a CFII , you'll be at the forefront of promoting safety and precision in aviation. If you have a keen eye for detail and a commitment to instilling best practices in your students, the role of a CFII aligns seamlessly with your values. Blue Skies Above's CFII training program ensures that you are well equipped to pass down these principles in your future students.</p>

          <%# 
          <ul role="list">
            <li>Quis elit egestas venenatis mattis dignissim.</li>
            <li>Cras cras lobortis vitae vivamus ultricies facilisis tempus.</li>
            <li>Orci in sit morbi dignissim metus diam arcu pretium.</li>
          </ul>
          <p>Rhoncus nisl, libero egestas diam fermentum dui. At quis tincidunt vel ultricies. Vulputate aliquet velit faucibus semper. Pellentesque in venenatis vestibulum consectetur nibh id. In id ut tempus egestas. Enim sit aliquam nec, a. Morbi enim fermentum lacus in. Viverra.</p>
           %>
          <h3>Become an instrument flight instructor</h3>
          <p>Whether you're considering pilot opportunities in Auburn, Columbus, Opelika, Atlanta, Columbus, Georgia, Alabama; Blue Skies Above is here to support your aviation journey. Explore the diverse opportunities and aviation needs of the region while gaining the experience and flight hours needed for your chosen career path. As you approach this pivotal point in your aviation career, remember that the skies are full of possibilities, and Blue Skies Above is here to help you begin your pilot career.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Image section -->
<div class="xl:mx-auto xl:max-w-7xl px-3 xl:px-8 py-10">
  <%= image_tag "blue-skies-above-clouds-instrument-cfii-training.webp", alt: "Flying IFR Blue Skies Above Lanett, AL & Columbus, GA", class: "lg:aspect-[5/3] w-full object-cover rounded-lg xl:rounded-3xl"%>
</div>





<%= render "shared/cta_were_experts" %>
<%= render "shared/cta_next_steps" %>
<%= render "shared/footer"%>
