<%# Head / Meta Data %>
<% title("Commercial Pilot Program | Blue Skies Above") %>
<% meta_description(" Discover the path to a Commercial Pilot certificate (commonly referred to as a CPL) and the opportunities it offers for flying aircraft commercially. Learn about the requirements, training duration, and FAA criteria needed to become a certified commercial pilot") %>
<% meta_keywords("Commercial Pilot License (CPL), Commercial Pilot Certificate, FAA CPL requirements, Pilot training duration auburn, Commercial aviation opportunities georgia, Flight hours for CPL Alabama, FAA written exam for CPL Opelika
") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<%= render "shared/phone_banner"%>
<%= render "shared/nav"%>

<header class="w-full bg-commercial bg-cover bg-right lg:bg-center h-screen-3/4 lg:h-screen-4/5 flex justify-center items-center">
  <div class="px-5 py-24 lg:py-32 flex flex-col justify-start items-center lg:items-end h-full w-full text-center lg:text-right">
      <h1 class="text-4xl font-bold tracking-tight sm:text-6xl text-white">Commercial Pilot Certificate</h1>
      <h2 class="mt-6 text-xl leading-8 text-gray-200">Start your pilot career with your commercial pilot certificate</h2>
      <div class="flex flex-row lg:flex-row items-center mt-5">
        <%= link_to "Enroll Today", enroll_path, target: "blank", data: { turbo: false }, class: "btn-primary " %>
        <%= link_to visit_path do %>
          <div class="ml-5 flex group items-center text-white">
            <div class="mr-3">Visit School</div>
            <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
          </div>
        <%end%>
      </div>
  </div>
</header>

<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-sky-600">Become a commercial pilot</p>
    <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Commercial Pilot Certificate</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">A commercial pilot certificate allows you to <br class="hidden md:block">fly for compensation or hire.</p>
  </div>
</div>


<div class="relative bg-white">
  <div class="mx-auto max-w-7xl lg:flex lg:justify-between lg:px-8 xl:justify-end">
    <div class="lg:flex lg:w-1/2 lg:shrink lg:grow-0 xl:absolute xl:inset-y-0 xl:right-1/2 xl:w-1/2">
      <div class="relative h-80 lg:-ml-8 lg:h-auto lg:w-full lg:grow xl:ml-0">
        <%= image_tag "blue-skies-filling-gas-at-7a3-lanett-municipal-airport.webp", alt: "filling 100LL avgas for a Cessna 172 at Blue Skies Above Lanett Alabama", class: "absolute inset-0 h-full w-full bg-gray-50 object-cover object-right"%>
      </div>
    </div>
    <div class="px-6 lg:contents">
      <div class="mx-auto max-w-2xl pb-24 pt-16 sm:pb-32 sm:pt-20 lg:ml-8 lg:mr-0 lg:w-full lg:max-w-lg lg:flex-none lg:pt-32 xl:w-1/2">
        <p class="text-base font-semibold leading-7 text-sky-600">Commercial Pilot</p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Become a Commercial Pilot</h1>
        <p class="mt-6 text-xl leading-8 text-gray-700">If you're looking to make a career out of flying and you've gained a few hundred hours of flying experience, then getting your commercial pilot certificate is next after your instrument rating.</p>
        <div class="mt-10 max-w-xl text-base leading-7 text-gray-700 lg:max-w-none">
          <p>Getting a commercial pilot certificate allows you to fly for compensation or hire.  Many career pilots start their career after getting their commercial certificate and do flight instructing, surveying, sky diving operations, and more.  For those looking to get their ATP certificate and fly in the airlines, this phase is a great time to gain flight experience while being compensated.</p>
          <p class="pt-10">When you start commercial pilot training, you'll get to learn the regulations more thoroughly and understand the limitations and requirements for different parts of the FAR.  You'll also learn additional manuevers and learn how to fly more precise.</p>
          <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li class="flex gap-x-3">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"  class="mt-1 h-5 w-5 flex-none fill-sky-600"><rect fill="none" height="24" width="24"/><path d="M22,5.18L10.59,16.6l-4.24-4.24l1.41-1.41l2.83,2.83l10-10L22,5.18z M19.79,10.22C19.92,10.79,20,11.39,20,12 c0,4.42-3.58,8-8,8s-8-3.58-8-8c0-4.42,3.58-8,8-8c1.58,0,3.04,0.46,4.28,1.25l1.44-1.44C16.1,2.67,14.13,2,12,2C6.48,2,2,6.48,2,12 c0,5.52,4.48,10,10,10s10-4.48,10-10c0-1.19-0.22-2.33-0.6-3.39L19.79,10.22z"/></svg>
              <span><strong class="font-semibold text-gray-900">Complete Your Instrument Rating</strong> While not technically a requirement, not having an instrument rating when completing you commercial pilot certificate limits you in the type of flying you can do for compensation.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" class="mt-1 h-5 w-5 flex-none fill-sky-600" height="24" viewBox="0 -960 960 960" width="24"><path d="M560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T903-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v120h-80v-80H520v-200H240v640h240v80H240Zm280-400Zm241 199-19-18 37 37-18-19Z"/></svg>
              <span><strong class="font-semibold text-gray-900">Pass Your Instrument Written Exam</strong> Study and solidify core aviation concepts.  Being able to understand if a flight is being flown under Part 91 or Part 135; and understanding concepts like common carriage are all things that you will need to learn in order to obtain your commercial pilot certificate.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"  viewBox="0 0 24 24" class="mt-1 h-5 w-5 flex-none fill-sky-600"><g><rect fill="none" height="24" width="24"/></g><g><g><rect height="2" width="11" x="3" y="10"/><rect height="2" width="11" x="3" y="6"/><rect height="2" width="7" x="3" y="14"/><polygon points="20.59,11.93 16.34,16.17 14.22,14.05 12.81,15.46 16.34,19 22,13.34"/></g></g></svg>
              <span><strong class="font-semibold text-gray-900">Meet Minimum Requirements</strong> You'll need have flown a minimum of 250 flight hours.  In addition, there are different types of cross country trips that you are required to complete to meet the minimum requirements to take the commercial pilot practical exam.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" class="mt-1 h-5 w-5 flex-none fill-sky-600" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-120v-80h720v80H120Zm74-200L80-514l62-12 70 62 192-52-162-274 78-24 274 246 200-54q32-9 58 12t26 56q0 22-13.5 39T830-492L194-320Z"/></svg>
              <span><strong class="font-semibold text-gray-900">Fly With an Examiner</strong> You'll fly with a FAA Designated Pilot Examiner (DPE) and demonstrate you have the skills to fly as a commercial pilot and meet the requirements of the Airmen Certification Standards (ACS).</span>
            </li>
          </ul>
          <p class="mt-8">Blue Skies Above will prepare you for all of the required exams with the necessary materials and education.  Give us a call and schedule a time to fly with a CFI to get started.</p>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">What to expect during commercial pilot training?</h2>
          <p class="mt-6">Prepare to start flying at a higher standard.  When you are assigned an altitude and heading, you will be expected to fly the altitude and heading with better precision.  The standards listed in the ACS are much more strict for commercial pilots compared to private pilots and with good reason.</p>
          <p class="mt-6 mb-10">To start commercial pilot training at Blue Skies Above, take the initial step by reaching out to Blue Skies Above team today. Connect with our team, explore the classroom and planes, and review the comprehensive syllabus. Let's kickstart your commercial pilot training.  This is your opportunity to become a more skilled and confident pilot!</p>
          <%= button_to "Visit School", visit_path, target: "blank", method: :get, data: { turbo: false }, class: "btn-primary " %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/typography'),
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="overflow-hidden bg-white">
  <div class="relative mx-auto max-w-7xl px-6 py-16 lg:px-8">
    <div class="absolute bottom-0 left-3/4 top-0 hidden w-screen bg-sky-50 lg:block"></div>
    <div class="mx-auto max-w-prose text-base lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-8">
      <div>
        <h2 class="text-lg font-semibold text-sky-600">Frequently Asked</h2>
        <h3 class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">How Do I Get Paid To Fly As A Pilot?</h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:col-start-2 lg:row-start-1">
        <svg class="absolute right-0 top-0 -mr-20 -mt-20 hidden lg:block" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <%# REMOVE DOTS 
          <defs> 
            <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs> %>
          <rect width="404" height="384" class="fill-sky-100" />
        </svg>
        <div class="relative mx-auto max-w-prose text-base lg:max-w-none">
          <figure>
            <div class="aspect-h-7 aspect-w-12 lg:aspect-none">
              
              <%= image_tag "blue-skies-commercial-pilot-over-1000-hours.webp", alt: "Commercial Pilot Training Columbus Georgia Atlanta - Blue Skies Above Professional Flight Instruction", class: "rounded-lg object-cover object-center shadow-lg"%>
              
            </div>
            <figcaption class="mt-3 flex text-sm text-gray-500">
              <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1 8a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 018.07 3h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0016.07 6H17a2 2 0 012 2v7a2 2 0 01-2 2H3a2 2 0 01-2-2V8zm13.5 3a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM10 14a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
              </svg>
              <span class="ml-2">Commercial Pilot Training Blue Skies Above Lanett, Alabama</span>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="mx-auto max-w-prose text-base lg:max-w-none">
          <p class="text-lg text-gray-500">Are you a pilot getting to close to 250 hours and wondering what's next after you complete your commercial pilot training?  Depending on what your career goals are, the answer can vary drastically.</p>
        </div>
        <div class="prose prose-sky mx-auto mt-5 text-gray-500 lg:col-start-1 lg:row-start-1 lg:max-w-none">
          <p>Once you've completed your commercial pilot training the world of aviation opens up with various opportunities to turn your passion for flying into a rewarding career. At Blue Skies Above, our flight school located at Airport 7A3 in Lanett, AL, we understand that your career goals play a crucial role in shaping your next steps. Let's explore some career opportunities that can lead you to getting paid to fly.</p>
          <h3>Commercial Pilot Roles</h3>
          <p>If you're looking to become an airline pilot, or a similar role that requires 1500 hours and an ATP certificate, many pilots start with these job roles to build flight time and gain experience.</p>
          <p><strong class="font-semibold text-gray-900">Certified Flight Instructor (CFI):</strong> Becoming a Certified Flight Instructor is a common route for pilots looking to build flight hours while earning an income. As a CFI at Blue Skies Above, you can share your knowledge and skills with aspiring pilots, helping them navigate the skies safely. This role not only enhances your teaching abilities but also accelerates your own learning and mastery of flight techniques.</p>
          <p><strong class="font-semibold text-gray-900">Survey Pilot:</strong> Engage in aerial survey missions as a survey pilot. This role involves flying over designated areas to collect data for various purposes such as mapping, environmental monitoring, or infrastructure assessments. Survey piloting offers a unique perspective and a chance to apply your flying skills in practical, real world scenarios.</p>
          <p><strong class="font-semibold text-gray-900">Skydive Pilot:</strong> As a skydive pilot, you'll play a crucial role in creating unforgettable experiences for thrill-seekers. Fly thousands of feet in the air, provide a smooth and safe ascent for skydivers, and witness the breathtaking moments as they freefall and parachute back to the ground. </p>
          <p><strong class="font-semibold text-gray-900">Charter Pilot:</strong> Explore opportunities as a charter pilot, providing personalized and on demand flight services. Whether it's transporting business executives, leisure travelers, or cargo, charter pilots enjoy a dynamic work environment. At Blue Skies Above, we can guide you on how to transition into this exciting sector of aviation.</p>
          <p><strong class="font-semibold text-gray-900">Agricultural Pilot:</strong> Agricultural pilots, or Ag pilots shortened, is a very enjoyable career where you fly close to the ground and apply chemicals like fertilizer and insecticide on farm crops.</p>
          <p><strong class="font-semibold text-gray-900">Missionary Pilot:</strong> Combine your passion for flying with a sense of purpose by becoming a missionary pilot. Serve remote communities by providing transportation for humanitarian aid, medical supplies, or personnel. It's a fulfilling way to make a positive impact through aviation.</p>

          <%# 
          <ul role="list">
            <li>Quis elit egestas venenatis mattis dignissim.</li>
            <li>Cras cras lobortis vitae vivamus ultricies facilisis tempus.</li>
            <li>Orci in sit morbi dignissim metus diam arcu pretium.</li>
          </ul>
          <p>Rhoncus nisl, libero egestas diam fermentum dui. At quis tincidunt vel ultricies. Vulputate aliquet velit faucibus semper. Pellentesque in venenatis vestibulum consectetur nibh id. In id ut tempus egestas. Enim sit aliquam nec, a. Morbi enim fermentum lacus in. Viverra.</p>
           %>
          <h3>Become a Commercial Pilot</h3>
          <p>Whether you're considering pilot opportunities in Auburn, Columbus, Opelika, Atlanta, Columbus, Georgia, Alabama; Blue Skies Above is here to support your aviation journey. Explore the diverse opportunities and aviation needs of the region while gaining the experience and flight hours needed for your chosen career path. As you approach this pivotal point in your aviation career, remember that the skies are full of possibilities, and Blue Skies Above is here to help you begin your pilot career.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Image section -->
<div class="xl:mx-auto xl:max-w-7xl px-3 xl:px-8 py-10">
  <%= image_tag "blue-skies-team-of-cfis-and-commercial-pilots.webp", alt: "Blue Skies Above team at NAFI summit with CFIs and commercial pilots", class: "lg:aspect-[5/3] w-full object-cover rounded-lg xl:rounded-3xl"%>
</div>

<div class="bg-gradient-to-br from-sky-200 to-gray-100 py-24 sm:py-32 all">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h2 class="text-base font-semibold leading-7 text-sky-600">Pricing</h2>
      <p class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Learn More About Our Training Packages</p>
    </div>
    <p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-gray-600">Choose the best package that fits your aviation goals.</p>
    <div class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 md:max-w-2xl md:grid-cols-2 lg:max-w-4xl xl:mx-0 xl:max-w-none xl:grid-cols-2">

      <div class="max-w-sm justify-self-center bg-white rounded-3xl p-8 ring-1 ring-gray-200 hover:ring-sky-600 hover:ring-2 group duration-100">
        <h3 id="tier-ppl-certificate" class="text-lg font-semibold leading-8 text-gray-900 group-hover:text-sky-600 duration-100">Commercial Pilot Certificate</h3>
        <p class="mt-4 text-sm leading-6 text-gray-600">Make flying your career with Commercial Pilot Certificate</p>
        <p class="mt-4 text-sm leading-6 text-gray-600">*35 weeks to complete (approximately)</p>
<p class="mt-6 flex items-baseline gap-x-1">Starting at</p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <!-- Price, update based on frequency toggle state -->
          <span class="text-4xl font-bold tracking-tight text-gray-900">$25,150</span>
        </p>
        <%# <a href="#" aria-describedby="tier-ppl-certificate" class="mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 text-sky-600 group-hover:bg-sky-600 group-hover:text-white ring-1 ring-inset ring-sky-200 hover:scale-105 duration-200">Book now</a> %>
        <%= link_to "Enroll Today", enroll_path, data: {turbo: false}, aria: { describedby: "tier-commercial-csel-certificate" }, class: "mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 text-sky-600 group-hover:bg-sky-600 group-hover:text-white ring-1 ring-inset ring-sky-200 hover:scale-105 duration-200"%>
        <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            3 lessons per week
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            88 hours of syllabus flights
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            17 hours of added time-building
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            55 hours of flight instruction
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            30 hours of ground instruction
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Ground school kit included
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Pay up front or incrementally
          </li>
        </ul>
      </div>
      <div class="max-w-sm justify-self-center bg-white rounded-3xl p-8 ring-1 ring-gray-200 hover:ring-sky-600 hover:ring-2 group duration-100">
        <h3 id="tier-ppl-certificate" class="text-lg font-semibold leading-8 text-gray-900 group-hover:text-sky-600 duration-100">Finish-Up or Added Rating</h3>
        <p class="mt-4 text-sm leading-6 text-gray-600">Complete or obtain additional qualifications. Make flying your career.</p>
        <p class="mt-4 text-sm leading-6 text-gray-600">*2 weeks to complete (approximately)</p>
        <p class="mt-6 flex items-baseline gap-x-1">Starting at</p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <!-- Price, update based on frequency toggle state -->
          <span class="text-4xl font-bold tracking-tight text-gray-900">$4,419</span>
        </p>
        <%# <a href="#" aria-describedby="tier-ppl-certificate" class="mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 text-sky-600 group-hover:bg-sky-600 group-hover:text-white ring-1 ring-inset ring-sky-200 hover:scale-105 duration-200">Book now</a> %>
        <%= link_to "Enroll Today", enroll_path, data: {turbo: false}, aria: { describedby: "tier-commercial-csel-certificate" }, class: "mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 text-sky-600 group-hover:bg-sky-600 group-hover:text-white ring-1 ring-inset ring-sky-200 hover:scale-105 duration-200"%>
        <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            3 lessons per week
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            15 hours of flight time
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            15 hours of flight instruction
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            10 hours of ground instruction
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Ground school kit included
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Pay up front or incrementally
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>



<%= render "shared/cta_were_experts" %>
<%= render "shared/cta_next_steps" %>
<%= render "shared/footer"%>
