<%# Head / Meta Data %>
<% title("Commercial Pilot Program | Blue Skies Above") %>
<% meta_description(" Discover the path to a Commercial Pilot certificate (commonly referred to as a CPL) and the opportunities it offers for flying aircraft commercially. Learn about the requirements, training duration, and FAA criteria needed to become a certified commercial pilot") %>
<% meta_keywords("Commercial Pilot License (CPL), Commercial Pilot Certificate, FAA CPL requirements, Pilot training duration auburn, Commercial aviation opportunities georgia, Flight hours for CPL Alabama, FAA written exam for CPL Opelika
") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>
<%= render "shared/phone_banner"%>
<%= render "shared/nav"%>
<header class="w-full bg-commercial bg-cover bg-right lg:bg-center h-screen-3/4 lg:h-screen-4/5 flex justify-center items-center">
  <div class="px-5 py-24 lg:py-32 flex flex-col justify-start items-center lg:items-end h-full w-full text-center lg:text-right">
    <h1 class="text-4xl font-bold tracking-tight sm:text-6xl text-white">Earn Your Commercial Pilot Certificate</h1>
    <h2 class="mt-6 text-xl leading-8 text-gray-200">Start your pilot career with your commercial pilot certificate</h2>
    <div class="flex flex-row lg:flex-row items-center mt-5">
      <%= link_to "Enroll Today", enroll_path, target: "blank", data: { turbo: false }, class: "btn-primary" %>
      <%= link_to visit_path do %>
        <div class="ml-5 flex group items-center text-white">
          <div class="mr-3">Visit School</div>
          <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
        </div>
      <%end%>
    </div>
  </div>
</header>
<div class="bg-white px-6 py-24 sm:py-12 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-lg font-semibold leading-7 text-sky-600">Fly for a career</p>
    <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Become a Commercial Pilot</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">A commercial pilot certificate allows you to <br class="hidden md:block">
      fly for compensation or hire.</p>
  </div>
</div>

<div class="bg-gradient-to-br from-sky-300 to-sky-100 px-6 py-20 sm:py-24 lg:px-24 flex flex-col lg:flex-row gap-10 items-center">
  <div class="flex-1 text-center lg:text-right">
    <p class="sm:text-5xl font-semibold text-sky-600 text-3xl">What is a</p>
    <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Commercial Pilot Certificate?</h2>
  </div>
  <div class="flex-1 flex flex-col gap-5">
    <p class="text-lg leading-8 text-gray-600">A Commercial Pilot Certificate allows you to fly for compensation or hire, opening doors to various aviation careers such as flight instructing, surveying, skydiving operations, and more. At Blue Skies Above, we provide structured training programs that prepare you for these opportunities.</p>
    <p class="text-lg leading-8 text-gray-600">When you start commercial pilot training, you'll deepen your understanding of aviation regulations, including the requirements for different parts of the FAR, and learn to fly with greater precision. Although not mandatory, completing your Instrument Rating alongside your Commercial Pilot Certificate expands the types of flying you can do for compensation, such as under Part 135 operations.</p>
  </div>
</div>

<div class="bg-white px-6 py-24 sm:py-12 lg:px-8">
  <div class="mx-auto max-w-5xl text-center">
    <p class="text-lg font-semibold leading-7 text-sky-600">How to Get Your Commercial Pilot Certificate</p>
    <h2 class="mt-2 text-4xl font-bold text-gray-900 sm:text-6xl">Important pre-requisites to meet before becoming a commercial pilot</h2>
  </div>

  <div class="mx-auto pb-10 sm:px-2 sm:pb-14 xl:px-20">
    <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
      <div class="mt-16 grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
        <div class="flex flex-col bg-sky-100 hover:bg-sky-200 transition-200 p-10 rounded-xl h-full">
          <div class="flex-shrink-0 mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-16 text-sky-500" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M18 3a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3zm0 2H6a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1m-6 1c2.08 0 3.716.448 4.628.77c.891.317 1.325 1.192 1.227 2.02l-.024.155l-.722 3.61c-.196.977-1.232 1.45-2.079 1.112c-.645-.258-1.7-.604-2.75-.66l-.3-.007c-1.133.005-2.312.388-3.01.667c-.805.321-1.78-.09-2.043-.97l-.036-.143l-.722-3.609c-.174-.872.256-1.839 1.203-2.174A14 14 0 0 1 12 6m0 2c-1.719 0-3.08.355-3.856.62l.6 2.997c.683-.24 1.623-.506 2.624-.59l.738-1.474a1 1 0 1 1 1.788.894l-.352.705c.65.122 1.244.3 1.715.465l.6-2.997A12.1 12.1 0 0 0 12 8"/></g></svg>
          </div>
          <div class="h-full flex flex-col justify-between gap-3">
            <div>
              <h3 class="min-h-12 font-semibold text-gray-900">Complete Your Instrument Rating</h3>
              <p class="mt-2 text-gray-500">While not technically a requirement, not having an instrument rating when completing you commercial pilot certificate limits you in the type of flying you can do for compensation.</p>
            </div>
            <%= link_to ifr_path, class: "font-semibold mt-5 group flex items-center w-fit hover:scale-105 hover:text-sky-700 duration-300" do %>
              <div class="mr-3">Instrument Rating</div>
              <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
            <% end %>
          </div>
        </div>
        <div class="flex flex-col bg-sky-100 hover:bg-sky-200 transition-200 p-10 rounded-xl">
          <div class="flex-shrink-0 mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-16 text-sky-500" viewBox="0 0 2048 2048"><path fill="currentColor" d="M1920 1024q63 83 95 181t33 203q0 133-50 249t-137 204t-203 137t-250 50q-133 0-249-50t-204-137t-137-203t-50-250H128q-27 0-50-10t-40-27t-28-41t-10-50V256q0-27 10-50t27-40t41-28t50-10h1664q27 0 50 10t40 27t28 41t10 50zM781 1280q22-112 80-206t142-162t187-106t218-38q104 0 202 32t182 96V256H128v1024zm627 640q106 0 199-40t162-110t110-163t41-199t-40-199t-110-162t-163-110t-199-41t-199 40t-162 110t-110 163t-41 199t40 199t110 162t163 110t199 41m0-512h256v128h-384v-512h128z"/></svg>
          </div>
          <div class="h-full flex flex-col justify-between gap-3">
            <div>
              <h3 class="min-h-12 font-semibold text-gray-900">Log Flight Hours</h3>
              <p class="mt-2 text-gray-500">You need 250 total flight hours to get your commercial pilot certificate. 110 of these hours are normally logged when getting your PPL and IR, but the other 140 will be logged via time building.</p>
            </div>
            <a href="#pricing" class="font-semibold mt-5 group flex items-center w-fit hover:scale-105 hover:text-sky-700 duration-300">
              <div class="mr-3">Time Building Package</div>
              <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
            </a>
          </div>
        </div>
        <div class="flex flex-col bg-sky-100 hover:bg-sky-200 transition-200 p-10 rounded-xl">
          <div class="flex-shrink-0 mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-16 text-sky-500" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M3 2.5a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h5.25a.75.75 0 0 1 0 1.5H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v6.25a.75.75 0 0 1-1.5 0V3a.5.5 0 0 0-.5-.5zm12.28 8.72a.75.75 0 0 1 0 1.06l-2.5 2.5a.75.75 0 0 1-1.06 0l-1-1a.75.75 0 1 1 1.06-1.06l.47.47l1.97-1.97a.75.75 0 0 1 1.06 0M4.75 4a.75.75 0 0 0 0 1.5h6.5a.75.75 0 0 0 0-1.5zM4 8a.75.75 0 0 1 .75-.75h6.5a.75.75 0 0 1 0 1.5h-6.5A.75.75 0 0 1 4 8m.75 2.5a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5z" clip-rule="evenodd"/></svg>
          </div>
          <div class="h-full flex flex-col justify-between gap-3">
            <div>
              <h3 class="min-h-12 font-semibold text-gray-900">Meet Minimum Requirements</h3>
              <p class="mt-2 text-gray-500">Once you’re approaching 250 total flight hours, there are different types of cross-country trips that you are required to complete to meet the minimum requirements to take the commercial pilot practical exam.</p>
            </div>
            <a href="#pricing" class="font-semibold mt-5 group flex items-center w-fit hover:scale-105 hover:text-sky-700 duration-300">
              <div class="mr-3">Finish-Up</div>
              <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
            </a>
          </div>
        </div>
        <div class="flex flex-col bg-sky-100 hover:bg-sky-200 transition-200 p-10 rounded-xl">
          <div class="flex-shrink-0 mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-16 text-sky-500" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" d="m1.204 4.056l1.833-1.834S9.759 4.463 13.63 6.704l4.31-4.31c.643-.643 1.461-1.089 2.363-1.212c.688-.094 1.532-.182 2.29-.182l.407.407c0 .757-.088 1.602-.182 2.29c-.123.902-.569 1.72-1.212 2.364l-4.31 4.31c2.241 3.87 4.482 10.592 4.482 10.592l-1.834 1.833s-3.666-5.296-6.722-8.352c0 0-2.264 1.45-5.703 4.89c0 0 .407 1.629.407 3.259L7.519 23s-1.63-2.037-3.056-3.463S1 16.482 1 16.482l.407-.408c1.63 0 3.26.407 3.26.407c3.439-3.439 4.889-5.703 4.889-5.703C6.5 7.722 1.204 4.056 1.204 4.056Z"/></svg>
          </div>
          <div class="h-full flex flex-col justify-between gap-3">
            <div>
              <h3 class="min-h-12 font-semibold text-gray-900">Fly With an Examiner</h3>
              <p class="mt-2 text-gray-500">You'll fly with an FAA Designated Pilot Examiner (DPE) and demonstrate you have the skills to fly as a commercial pilot in a TAA aircraft and meet the requirements of the Airmen Certification Standards (ACS).</p>
            </div>
            <a href="https://flytheblueskies.com/posts/blue-skies-above-acquires-a-new-taa-plane" class="font-semibold mt-5 group flex items-center w-fit hover:scale-105 hover:text-sky-700 duration-300">
              <div class="mr-3">Your TAA Plane</div>
              <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="px-6 py-20 sm:py-24 lg:px-24 flex flex-col lg:flex-row gap-10 items-center">
  <div class="flex-1 flex flex-col gap-5">
    <%= image_tag "taa-cessna-blue-skies-above-lanett-municipal-airport.webp" %>
  </div>
  <div class="flex-1 flex flex-col gap-2">
    <p class="sm:text-xl font-semibold text-sky-600 text-3xl">Training with Blue Skies</p>
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">What to Expect During Training</h2>
    <p class="text-lg leading-8 text-gray-600">Prepare to fly at a higher standard, where precision is key. The ACS standards for commercial pilots are stricter compared to private pilots, ensuring you develop the skills needed to fly professionally. At Blue Skies Above, we offer a structured syllabus, experienced instructors, and access to a modern fleet, giving you the tools to become a more skilled and confident pilot.</p>
    <p class="text-lg leading-8 text-gray-600">You’ll be flying in our newest Technically Advanced Aircraft (TAA), the Cessna 172, for some of your training. Check out the details below.</p>
    <a href="https://flytheblueskies.com/posts/blue-skies-above-acquires-a-new-taa-plane" class="btn-primary w-fit">
      Our TAA Cessna
    </a>
  </div>
</div>

<div class="bg-gradient-to-br from-sky-200 to-gray-100 py-24 sm:py-32 all scroll-my-32" id="pricing">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h2 class="text-base font-semibold leading-7 text-sky-600">Pricing</h2>
      <p class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Learn More About Our Training Packages</p>
    </div>
    <p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-gray-600">Choose the best package that fits your aviation goals.</p>
    <div class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 md:max-w-2xl md:grid-cols-2 lg:max-w-4xl xl:mx-0 xl:max-w-none xl:grid-cols-2">
      <div class="max-w-sm justify-self-center bg-white rounded-3xl p-8 ring-1 ring-gray-200 hover:ring-sky-600 hover:ring-2 group duration-100">
        <div class="md:min-h-[12rem]">
          <h3 id="tier-ppl-certificate" class="text-lg font-semibold leading-8 text-gray-900 group-hover:text-sky-600 duration-100">Commercial Pilot Certificate With Time Building</h3>
          <p class="mt-4 text-sm leading-6 text-gray-600">Make flying your career with Commercial Pilot Certificate</p>
          <p class="mt-4 text-sm leading-6 text-gray-600">*35 weeks to complete (approximately)</p>
        </div>
        <p class="mt-4 flex items-baseline gap-x-1">
          <span class="text-4xl font-bold tracking-tight text-gray-900">$25,150</span>
        </p>
        <p class="mt-2">or</p>
        <p class="mt-4 flex items-baseline gap-x-1">As low as</p>
        <p class="flex items-baseline gap-x-1">
          <span class="text-4xl font-bold tracking-tight text-gray-900">$600</span><span>/month</span>
        </p>
        <p class="text-sm">with <%= link_to "Flight Training Financing", financing_path, class: "inline hover:underline" %></p>
        <%# <a href="#" aria-describedby="tier-ppl-certificate" class="mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 text-sky-600 group-hover:bg-sky-600 group-hover:text-white ring-1 ring-inset ring-sky-200 hover:scale-105 duration-200">Book now</a> %>
        <%= link_to "Enroll Today", enroll_path, data: {turbo: false}, aria: { describedby: "tier-commercial-csel-certificate" }, class: "mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 text-sky-600 bg-sky-600 text-white ring-1 ring-inset ring-sky-200 hover:scale-105 duration-200"%>
        <%= link_to "Learn More", enroll_path, data: {turbo: false}, aria: { describedby: "tier-commercial-csel-certificate" }, class: "mt-2 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 text-sky-600 ring-1 ring-inset ring-sky-200 hover:scale-105 duration-200"%>
        <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            3 lessons per week
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            88 hours of syllabus flights
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            17 hours of added time-building
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            55 hours of flight instruction
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            30 hours of ground instruction
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Ground school kit included
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Pay up front or incrementally
          </li>
        </ul>
      </div>
      <div class="max-w-sm justify-self-center bg-white rounded-3xl p-8 ring-1 ring-gray-200 hover:ring-sky-600 hover:ring-2 group duration-100">
        <div class="md:min-h-[12rem]">
          <h3 id="tier-ppl-certificate" class="text-lg font-semibold leading-8 text-gray-900 group-hover:text-sky-600 duration-100">Finish-Up or Added Rating</h3>
          <p class="mt-4 text-sm leading-6 text-gray-600">Complete or obtain additional qualifications. Make flying your career.</p>
          <p class="mt-4 text-sm leading-6 text-gray-600">*2 weeks to complete (approximately)</p>
        </div>
          <p class="mt-4 flex items-baseline gap-x-1">
            <span class="text-4xl font-bold tracking-tight text-gray-900">$4,419</span>
          </p>
          <p class="mt-2">or</p>
          <p class="mt-4 flex items-baseline gap-x-1">As low as</p>
          <p class="flex items-baseline gap-x-1">
            <span class="text-4xl font-bold tracking-tight text-gray-900">$125</span><span>/month</span>
          </p>
          <p class="text-sm">with <%= link_to "Flight Training Financing", financing_path, class: "inline hover:underline" %></p>
        <%# <a href="#" aria-describedby="tier-ppl-certificate" class="mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 text-sky-600 group-hover:bg-sky-600 group-hover:text-white ring-1 ring-inset ring-sky-200 hover:scale-105 duration-200">Book now</a> %>
        <%= link_to "Enroll Today", enroll_path, data: {turbo: false}, aria: { describedby: "tier-commercial-csel-certificate" }, class: "mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 text-sky-600 bg-sky-600 text-white ring-1 ring-inset ring-sky-200 hover:scale-105 duration-200"%>
        <%= link_to "Learn More", enroll_path, data: {turbo: false}, aria: { describedby: "tier-commercial-csel-certificate" }, class: "mt-2 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 text-sky-600 ring-1 ring-inset ring-sky-200 hover:scale-105 duration-200"%>
        <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            3 lessons per week
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            15 hours of flight time
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            15 hours of flight instruction
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            10 hours of ground instruction
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Ground school kit included
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Pay up front or incrementally
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%= link_to "See financing options", financing_path, class: "hover:underline uppercase text-sky-600 font-bold block mx-auto w-fit mt-10" %>
  <div class="flex flex-col items-center pt-32">
    <span>
      You can complete your training and pay by the hour instead of through a package.  To see our hourly rates, please 
      <%= link_to "click here",  pricing_path, data: {turbo: false}, class: "text-sky-700 hover:underline"%>
      .
    </span>
  </div>
</div>
<%= render "shared/cta_were_experts" %>
<%= render "shared/cta_next_steps" %>
<%= render "shared/footer"%>
