<%# Head / Meta Data %>
<% title("CPL Finish-Up Package | Blue Skies Above") %>
<% meta_description("CPL Finish-Up Package is ideal for pilots who are close to completing their certification or looking to add additional ratings. Whether you need to finish your commercial pilot training or gain an instrument or multi-engine rating, this package offers a focused and efficient pathway to achieving your goals. The structured training ensures you meet all FAA requirements while enhancing your skills and confidence for advanced flying scenarios.") %>
<% meta_keywords("Commercial Pilot License (CPL), Commercial Pilot Certificate, FAA CPL requirements, Pilot training duration auburn, Commercial aviation opportunities georgia, Flight hours for CPL Alabama, FAA written exam for CPL Opelika, CPL Finish-Up Package") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>
<%= render "shared/phone_banner"%>
<%= render "shared/nav"%>
<header class="w-full bg-finish-up bg-cover bg-right lg:bg-center h-screen-3/4 lg:h-screen-4/5 flex justify-center items-center">
  <div class="px-5 py-24 lg:py-32 flex flex-col justify-start items-center lg:items-end h-full w-full text-center lg:text-right">
    <h1 class="text-4xl font-bold tracking-tight sm:text-6xl text-white">The CPL Finish-Up Package</h1>
    <h2 class="mt-6 text-xl leading-8 text-gray-200">Finalize your commercial training and pass your Commercial Pilot checkride</h2>
    <div class="flex flex-row lg:flex-row items-center mt-5">
      <%= link_to "Enroll Today", enroll_path, target: "blank", data: { turbo: false }, class: "btn-primary" %>
      <%= link_to visit_path do %>
        <div class="ml-5 flex group items-center text-white">
          <div class="mr-3">Visit School</div>
          <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
        </div>
      <%end%>
    </div>
  </div>
</header>

<section class="max-w-6xl mx-auto py-16 px-5">
  <div class="flex flex-col my-8 gap-3">
    <h2 class="text-4xl font-semibold leading-7 text-sky-600">Why Choose the Finish-Up/Added Rating Package?</h2>

    <p class="text-gray-600 leading-loose">This program is ideal for pilots who are close to completing their certification or looking to add additional ratings. Whether you need to finish your commercial pilot training or gain an instrument or multi-engine rating, this package offers a focused and efficient pathway to achieving your goals. The structured training ensures you meet all FAA requirements while enhancing your skills and confidence for advanced flying scenarios.</p>

    <div class="flex flex-col lg:flex-row gap-8 lg:gap-16 mt-7">
      <div class="flex-1">
        <h2 class="text-2xl font-medium text-sky-600">
          Program Details
        </h2>
        <ul class="flex flex-col gap-1 mt-5">
          <li class="flex gap-3">
            <p>-</p>
            <p class="text-dark-blue">
              <span class="font-semibold">Duration:</span>
              <span class="text-dark-blue/80">Approximately 2 weeks</span>
            </p>
          </li>
          <li class="flex gap-3">
            <p>-</p>
            <p class="text-dark-blue">
              <span class="font-semibold">Upfront Cost:</span>
              <span class="text-dark-blue/80">$4,419 one-time</span>
            </p>
          </li>
          <li class="flex gap-3">
            <p>-</p>
            <p class="text-dark-blue">
              <span class="font-semibold">Monthly Cost:</span>
              <span class="text-dark-blue/80">$125/month</span>
            </p>
          </li>
          <li class="flex gap-3">
            <p>-</p>
            <p class="text-dark-blue">
              <span class="font-semibold">Financing:</span>
              <span class="text-dark-blue/80">Available via Flight Training Financing</span>
            </p>
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <h2 class="text-2xl font-medium text-sky-600">
          What’s Included
        </h2>
        <ul class="flex flex-col gap-1 mt-5">
          <li class="flex gap-3">
            <p>-</p>
            <p class="text-dark-blue">
              <span class="font-semibold">Training Schedule:</span>
              <span class="text-dark-blue/80">3 lessons per week</span>
            </p>
          </li>
          <li class="flex gap-3">
            <p>-</p>
            <p class="text-dark-blue">
              <span class="font-semibold">Flight Hours:</span>
              <span class="text-dark-blue/80">15 hours of flight time</span>
            </p>
          </li>
          <li class="flex gap-3">
            <p>-</p>
            <p class="text-dark-blue">
              <span class="font-semibold">Instruction:</span>
              <span class="text-dark-blue/80">15 hours of flight instruction + 10 hours of ground instruction</span>
            </p>
          </li>
          <li class="flex gap-3">
            <p>-</p>
            <p class="text-dark-blue">
              <span class="font-semibold">Materials:</span>
              <span class="text-dark-blue/80">Ground school kit included</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="relative isolate overflow-hidden bg-gradient-to-t from-sky-800 to-sky-400">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Ready to Begin?</h2>
      <p class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-200">With flexible financing options and a condensed training schedule, this program is designed to help you efficiently complete your certification or gain additional ratings without the stress of high upfront costs. This package equips you with the qualifications needed to advance your aviation career, whether you’re aiming to instruct, fly commercially, or pursue other specialized roles.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <%= link_to "Enroll Today", enroll_path, data: {turbo: false}, class: "rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white hover:scale-105 duration-300" %>
        <%= link_to pilot_programs_path, class: "text-sm font-semibold leading-6 text-white" do%>
          <div class="group flex items-center">
            <div class="mr-3">Our Programs </div>
            <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
  <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]" aria-hidden="true">
    <circle cx="512" cy="512" r="512" fill="url(#8d958450-c69f-4251-94bc-4e091a323369)" fill-opacity="0.7" />
    <defs>
      <radialGradient id="8d958450-c69f-4251-94bc-4e091a323369">
        <stop stop-color="#bae6fd" />
        <stop offset="1" stop-color="#0ea5e9" />
      </radialGradient>
    </defs>
  </svg>
</div>

<%= render "shared/footer"%>
