<%# Head / Meta Data %>
<%# title("Advanced Traiing at Ideal Aviation") %>
<%# meta_description("Come train at Ideal Aviation.  We offer courses from private pilot to CFII and MEI.  Get your instrument rating and commercial certificate done in the best flight school in St. Louis") %>
<%# meta_keywords("Instrument rating st. louis, multi-engine training st. louis, flight instructor CFI rating st louis, piper seminole in st louis, guimbal cabri st louis") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<%= render "shared/phone_banner"%>
<%= render "shared/nav"%>




<div class="relative isolate overflow-hidden bg-gradient-to-b from-sky-100/20 lg:pt-20">
  <div class="absolute inset-y-0 right-1/2 -z-10 -mr-96 w-[200%] origin-top-right skew-x-[-30deg] bg-white shadow-xl shadow-sky-600/10 ring-1 ring-sky-50 sm:-mr-80 lg:-mr-96" aria-hidden="true"></div>
    <div class="mx-auto max-w-7xl px-6 pb-8 sm:pb-40 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-6 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8">
        <h1 class="mt-10 max-w-2xl text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl lg:col-span-2 xl:col-auto">Your Pilot Training Academy</h1>
        <div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
          <h2 class="text-lg leading-8 text-gray-600 hidden lg:block">Flight school between Alabama and Georgia</h2>
          <h3 class="text-lg leading-8 text-gray-600 hidden lg:block">Nestled in the heart of Lanett, Alabama </h3>
          <h4 class="text-lg leading-8 text-gray-600 hidden lg:block">Lanett Municipal Airport 7A3</h4>
          <%# Mobile no link breaks %>
          <span class="text-lg leading-8 text-gray-600 lg:hidden">
            Flight school between Alabama and Georgia. Nestled in the heart of Lanett, Alabama. Lanett Municipal Airport 7A3
          </span>
          
          <div class="mt-10 flex items-center gap-x-6">
            
            <%= link_to "Enroll Today", root_path, class: "btn-primary"%>
            <%= link_to class: "text-sm font-semibold leading-6 text-gray-900" do%>
              <div class="flex group ">
                <div class="mr-3">Our Programs</div>
                <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
              </div>
            <% end %>
          </div>
        </div>
        <%= image_tag "blue-skies-private-pilot-checkride-pass-600.webp", alt: "", class: "mt-10 sm:mt-16 lg:mt-0 xl:mt-0 aspect-[6/5] w-full max-w-lg rounded-2xl object-cover  lg:max-w-none xl:row-span-2 xl:row-end-2 "%>
      </div>
    </div>
    <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
  </div>
</div>


<section class="bg-gradient-to-b from-sky-300 to-gray-100 relative pt-24 sm:pt-32 lg:pt-20">
  <div class="mx-auto max-w-md px-6 text-center sm:max-w-3xl lg:max-w-7xl lg:px-8">
    <h2 class="text-lg font-semibold text-sky-600">Start Flying</h2>
    <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">The best time to start flying is now</p>
    <p class="mx-auto mt-5 max-w-prose text-xl text-gray-700">Through our pilot training programs and dedicated instructors, we provide the guidance, resources, and support needed to become a pilot</p>
    <div class="mt-20">
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3">
        <div class="pt-6">
          <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center rounded-xl bg-sky-500 p-3 shadow-lg">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900">Start a Conversation</h3>
              <p class="mt-5 text-base leading-7 text-gray-600">The first step in pilot training is reaching out to a flight school.  Blue Skies Above welcomes you to the world of aviation.</p>
              <div class="mt-5">
                <%= button_to "Contact Us", root_path, class: "btn-primary"%>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-6">
          <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center rounded-xl bg-sky-500 p-3 shadow-lg">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900">Take Your First Flight Lesson</h3>
              <p class="mt-5 text-base leading-7 text-gray-600">Also known as a discovery flight, take the controls of the aircraft and fly the plane.  See if becoming a pilot is right for you.</p>
              <div class="mt-5">
                <%= button_to "Schedule Visit", root_path, class: "btn-primary"%>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-6">
          <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center rounded-xl bg-sky-500 p-3 shadow-lg">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="fill-white w-8 h-8"><path d="m274-274-128-70 42-42 100 14 156-156-312-170 56-56 382 98 157-155q17-17 42.5-17t42.5 17q17 17 17 42.5T812-726L656-570l98 382-56 56-170-312-156 156 14 100-42 42-70-128Z"/></svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900">Start Training</h3>
              <p class="mt-5 text-base leading-7 text-gray-600">You've got the best flight school in Lanett, AL supporting you every step of the way.  We're experts in flight training.</p>
              <div class="mt-5">
                <%= button_to "Our Programs", root_path, class: "btn-primary"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Image section -->
  <div class="xl:mx-auto xl:max-w-7xl xl:px-8 py-10">
    <%= image_tag "blue-skies-over-auburn.webp", alt: "Student Pilot and CFI Flying Over Auburn Alabama", class: "aspect-[5/2] w-full object-cover xl:rounded-3xl"%>
  </div>
</section>

<section class="bg-gradient-to-b from-gray-100 to-white">
  <div class="overflow-hidden pt-10">
    <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
        <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Your Opportunity</h2>
          <p class="mt-6 text-xl leading-8 text-gray-600">The time to become a pilot is now.  With demand at an all time high and the world more than ever needing more pilots, this is your chance.</p>
          <p class="mt-6 text-base leading-7 text-gray-600">The skill of flying is a life changing experience only less than 1% of the population has the privilege of holding.  Blue Skies Above is your door to a world of opportunity in aviation.</p>
        </div>
        <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
          <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
            
            <%= image_tag "blue-skies-flying-over-opelika-sunset.webp", alt: "Flying Cessna 172 over Opelika Alabama during sunset", class: "aspect-[7/5] w-[37rem] max-w-none rounded-2xl bg-gray-50 object-cover"%>
            
          </div>
          <div class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-[37rem] lg:items-start lg:justify-end lg:gap-x-8">
            <div class="order-first flex w-64 flex-none justify-end self-end lg:w-auto">
              <%= image_tag "blue-skies-pilots-smiling-while-flying.webp", alt: "Pilots flying above columbus at Blue Skies Above flight school", class: "aspect-[4/3] w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover"%>
              
            </div>
            <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
              <%= image_tag "blue-skies-auburn-university-student-pilot.webp", alt: "Blue Skies Above trains pilots from all over the Auburn and Lanett Alabama area including many students at Auburn University", class: "aspect-[7/5] w-[37rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover"%>
            </div>
            <div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none">
              <%= image_tag "blue-skies-student-pilot-after-first-solo.webp", alt: "Student pilot at Blue Skies Above Lanett Alabama smiling after solo flighgt", class: "aspect-[4/3] w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# steps (1 of 3) %>
<div class="bg-white mt-20">
  <div class="flex flex-col border-b border-gray-200 lg:border-0">
    <div class="relative">
      <div aria-hidden="true" class="absolute hidden h-full w-1/2 bg-gray-100 lg:block"></div>
      <div class="relative bg-gray-100 lg:bg-transparent">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:grid lg:grid-cols-2 lg:px-8">
          <div class="mx-auto max-w-2xl py-24 lg:max-w-none lg:py-64">
            <div class="lg:pr-16">
              <span class="tracking-tighter lg:ml-2 mb-2">Step 1. </span>
              <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl xl:text-6xl">Contact <br>Blue Skies Above</h2>
              <p class="mt-4 text-xl text-gray-600">Reaching out to a flight school to understand how the pilot training process works is the first step in your pilot training journey.</p>
              <p class="mt-6 text-base leading-7 text-gray-600">Speaking with a real live team member helps demystify any questions you may have and gets you answers quickly.  Determine what your ambition, goals, and timeline are in relation to flight training.  You've got the entire team here at Blue Skies Above to help you reach your goals.  Let's work together to come up with a plan for flight training that suits your needs.</p>
              <div class="mt-6">
                <a href="#" class="inline-block rounded-md border border-transparent bg-sky-600 px-8 py-3 font-medium text-white hover:bg-sky-700 hover:scale-105 duration-300">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="h-48 w-full sm:h-64 lg:absolute lg:right-0 lg:top-0 lg:h-full lg:w-1/2">
        <%= image_tag "blue-skies-cessna-on-ramp.webp", alt: "Guy from Auburn, AL inside a cessna 172 in Lanett Municipal airport after calling Blue Skies Above", class: "h-full w-full object-cover object-left"%>
      </div>
    </div>
  </div>
</div>

<%# steps (2 of 3) %>
<div class="bg-white flex lg:flex-row flex-col-reverse">
  <%# <!-- Image Container --> %>
  <div class="lg:w-1/2 w-full h-full ">
    
    <%= image_tag "blue-skies-discovery-flight.webp", alt: "Mother and young daughter on a discovery flight flying over KATL Atlanta Georgia airport", class: "h-full w-full object-cover object-center"%>
    
  </div>

  <%# <!-- Text Content Container --> %>
  <div class="lg:w-1/2">
    <div class="flex flex-col border-b border-gray-200 lg:border-0">
      <div class="relative bg-gray-100 lg:bg-transparent">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="mx-auto max-w-2xl pt-24 lg:max-w-none lg:pt-48">
            <div class="lg:pr-16">
              <span class="tracking-tighter ml-0 mb-2">Step 2. </span>
              <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl xl:text-6xl">Take a Discovery Flight</h2>
              <p class="mt-4 text-xl text-gray-600">Also known as an introductory flight, a discovery flight is your first flight lesson.  Pair up with a certified flight instructor and you fly the plane.</p>
              <p class="mt-6 text-base leading-7 text-gray-600">On a discovery flight, you'll spend 30 minutes to an hour in the air with a certified flight instructor.  You'll have the chance to fly the airplane own your own.  After you land, you'll have the opportunity to discuss with your instructor how to complete the flight training process.</p>
              <div class="mt-6 pb-20">
                <a href="#" class="inline-block rounded-md border border-transparent bg-sky-600 px-8 py-3 font-medium text-white hover:bg-sky-700 hover:scale-105 duration-300">Schedule Flight</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# steps (3 of 3) %>
<div class="bg-white">
  <div class="flex flex-col border-b border-gray-200 lg:border-0">
    <div class="relative">
      <div aria-hidden="true" class="absolute hidden h-full w-1/2 bg-gray-100 lg:block"></div>
      <div class="relative bg-gray-100 lg:bg-transparent">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:grid lg:grid-cols-2 lg:px-8">
          <div class="mx-auto max-w-2xl py-24 lg:max-w-none lg:py-64">
            <div class="lg:pr-16">
              <span class="tracking-tighter lg:ml-2 mb-2">Step 3. </span>
              <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl xl:text-6xl">Start <br>Flight Training</h2>
              <p class="mt-4 text-xl text-gray-600">You'll pair up and work with a CFI (Certified Flight Instructor) to start flight training.  Gain the necessary skills and knowledge to pass your written and practical exams.</p>
              <p class="mt-6 text-base leading-7 text-gray-600">The first certificate pilots get is called the private pilot certificate, also known as the PPL or private pilot license.  Obtaining this certification involves passing multiple exams including the medical exam, the written exam, and the practical exam - commonly referred as the checkride.  You and your instructor will come up with a plan that fits your schedule to get this complete.  We're excited to be a part of your aviation journey.</p>
              <div class="mt-6">
                <a href="#" class="inline-block rounded-md border border-transparent bg-sky-600 px-8 py-3 font-medium text-white hover:bg-sky-700 hover:scale-105 duration-300">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="h-full lg:absolute lg:right-0 lg:top-0 lg:w-1/2">
        <%= image_tag "blue-skies-flying-over-atlanta-katl-airport.webp", alt: "flying a cessna 172 from Blue Skies Above (Lanett, AL) over Hartsfield-Jackson Atlanta International Airport", class: "h-full w-full object-cover object-center"%>
      </div>
    </div>
  </div>
</div>

<%# CTA 1 %>
<div class="relative isolate overflow-hidden bg-gradient-to-t from-sky-800 to-sky-400">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Next Steps<br>Visit Blue Skies Above<br>Professional Flight Instruction</h2>
      <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-200">Visit our flight school, start pilot training and join the family, like and follow up on social media.  We're excited to partner with you and be a part of your aviation journey.  Let's go flying together!</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white hover:scale-105 duration-300">Visit School</a>
      
        <a href="#" class="text-sm font-semibold leading-6 text-white">
          <div class="group flex items-center">
            <div class="mr-3">Our Programs </div>
            <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
          </div>
        </a>
        
      </div>
    </div>
  </div>
  <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]" aria-hidden="true">
    <circle cx="512" cy="512" r="512" fill="url(#8d958450-c69f-4251-94bc-4e091a323369)" fill-opacity="0.7" />
    <defs>
      <radialGradient id="8d958450-c69f-4251-94bc-4e091a323369">
        <stop stop-color="#bae6fd" />
        <stop offset="1" stop-color="#0ea5e9" />
      </radialGradient>
    </defs>
  </svg>
</div>


<%# footer %>
<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<footer class="bg-white" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="flex flex-col items-center">
        <%= image_tag "blue-skies-logo-black-600.webp", class: "h-16 xl:h-24 w-auto object-contain duration-300 hover:scale-105 hover:brightness-105", alt: "Blue Skies Above logo"%>
        <div class="pt-5 text-sm leading-6 text-gray-600">
          Lanett Regional Airport<br>
          4445 51st Ave SW<br>
          Lanett, Alabama 36863<br>
        </div>
      </div>
      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-gray-900">New to Flying?</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Why become a pilot?</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Pilot training process</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">First Flight Lesson</a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-gray-900">Training Programs</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Private Pilot</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Instrument Rating</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Commercial Pilot</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Flight Instructor</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-gray-900">About</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Our Team</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Why Blue Skies Above?</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Join the team</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Blog</a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-gray-900">Quick Links</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Visit School</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Discovery Flight</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-sky-600">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mt-8 border-t border-gray-900/10 pt-8 md:flex md:items-center md:justify-between">
      <div class="flex space-x-6 md:order-2">
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">Facebook</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
          </svg>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">Instagram</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" />
          </svg>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">Twitter</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
          </svg>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">GitHub</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
          </svg>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">YouTube</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path fill-rule="evenodd" d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
      <p class="mt-8 text-xs leading-5 text-gray-500 md:order-1 md:mt-0">&copy; 2020 Your Company, Inc. All rights reserved.</p>
    </div>
  </div>
</footer>
