<%# Head / Meta Data %>
<% title("Instrument Rating Program | Blue Skies Above") %>
<% meta_description("Gain the skills needed to navigate through challenging weather conditions with an Instrument Panel Rating. Explore the training, requirements, and skills needed to fly solely by instruments, enhancing your piloting abilities.") %>
<% meta_keywords(" Instrument Panel Rating Lanett Alabama, FAA instrument rating requirements Opelika, Instrument flying training Columbus, Instrument flight hours Atlanta, Instrument approach procedures, IFR (Instrument Flight Rules) certification auburn") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<%= render "shared/phone_banner"%>
<%= render "shared/nav"%>

<header class="w-full bg-ifr bg-cover bg-center h-screen-3/4 lg:h-screen-4/5 flex justify-center items-center">
  <div class="px-5 py-24 lg:py-32 flex flex-col justify-start items-center lg:items-end h-full w-full text-center lg:text-right">
      <h1 class="text-4xl font-bold tracking-tight sm:text-6xl text-black">How to get your instrument rating</h1>
      <h2 class="mt-6 text-xl leading-8 text-gray-800">Get your instrument rating in Lanett, Alabama</h2>
      <div class="flex flex-row lg:flex-row items-center mt-5">
        <%= link_to "Enroll Today", enroll_path, target: "blank", data: { turbo: false }, class: "btn-primary " %>
        <%= link_to visit_path do %>
          <div class="ml-5 flex group items-center">
            <div class="mr-3">Visit School</div>
            <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
          </div>
        <%end%>
      </div>
  </div>
</header>

<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-sky-600">Become an instrument rated pilot</p>
    <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Instrument Rating</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">An Instrument Rating is a rating that grants you the privileges <br class="hidden md:block">to fly in IFR (Instrument Flight Rules) weather.</p>
  </div>
</div>


<div class="relative bg-white">
  <div class="mx-auto max-w-7xl lg:flex lg:justify-between lg:px-8 xl:justify-end">
    <div class="lg:flex lg:w-1/2 lg:shrink lg:grow-0 xl:absolute xl:inset-y-0 xl:right-1/2 xl:w-1/2">
      <div class="relative h-80 lg:-ml-8 lg:h-auto lg:w-full lg:grow xl:ml-0">
        <%= image_tag "blue-skies-flying-over-few-clouds-opelika.webp", alt: "flying cessna over clouds Opelika, Alabama ", class: "absolute inset-0 h-full w-full bg-gray-50 object-cover"%>
      </div>
    </div>
    <div class="px-6 lg:contents">
      <div class="mx-auto max-w-2xl pb-24 pt-16 sm:pb-32 sm:pt-20 lg:ml-8 lg:mr-0 lg:w-full lg:max-w-lg lg:flex-none lg:pt-32 xl:w-1/2">
        <p class="text-base font-semibold leading-7 text-sky-600">Instrument Rating</p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">What is an Instrument Rating?</h1>
        <p class="mt-6 text-xl leading-8 text-gray-700">When you start flying, you learn about different weather conditions and the challenges weather entails including visibility, cloud coverage, and thunderstorms. As a private pilot, you're limited to flying in good weather. And sometimes, weather conditions make flying visually unsafe, and that's where the instrument rating comes in.</p>
        <div class="mt-10 max-w-xl text-base leading-7 text-gray-700 lg:max-w-none">
          <p>Getting an instrument rating is the next step in your training. It allows you to handle more challenging weather with proper training. Essentially, you'll learn to fly by focusing only on your flight instruments, without relying on the ground or horizon. This skill is crucial for flying in less than ideal weather conditions.</p>
          <p class="pt-10">During the process, you'll understand the rules, procedures, and the published minimums to fly safely in such conditions. It's about expanding your skills and flying confidently in more complex weather situations.</p>
          <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li class="flex gap-x-3">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"  class="mt-1 h-5 w-5 flex-none fill-sky-600"><rect fill="none" height="24" width="24"/><path d="M22,5.18L10.59,16.6l-4.24-4.24l1.41-1.41l2.83,2.83l10-10L22,5.18z M19.79,10.22C19.92,10.79,20,11.39,20,12 c0,4.42-3.58,8-8,8s-8-3.58-8-8c0-4.42,3.58-8,8-8c1.58,0,3.04,0.46,4.28,1.25l1.44-1.44C16.1,2.67,14.13,2,12,2C6.48,2,2,6.48,2,12 c0,5.52,4.48,10,10,10s10-4.48,10-10c0-1.19-0.22-2.33-0.6-3.39L19.79,10.22z"/></svg>
              <span><strong class="font-semibold text-gray-900">Complete Your Private Pilot</strong> You must have finished your private pilot in order to start training for your instrument rating.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" class="mt-1 h-5 w-5 flex-none fill-sky-600" height="24" viewBox="0 -960 960 960" width="24"><path d="M560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T903-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v120h-80v-80H520v-200H240v640h240v80H240Zm280-400Zm241 199-19-18 37 37-18-19Z"/></svg>
              <span><strong class="font-semibold text-gray-900">Pass Your Instrument Written Exam</strong> Study and solidify core instrument rating concepts.  Be able to reach approach plates and IFR charts.  Understand the United States Air Traffic Control System and your role a pilot in the system.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"  viewBox="0 0 24 24" class="mt-1 h-5 w-5 flex-none fill-sky-600"><g><rect fill="none" height="24" width="24"/></g><g><g><rect height="2" width="11" x="3" y="10"/><rect height="2" width="11" x="3" y="6"/><rect height="2" width="7" x="3" y="14"/><polygon points="20.59,11.93 16.34,16.17 14.22,14.05 12.81,15.46 16.34,19 22,13.34"/></g></g></svg>
              <span><strong class="font-semibold text-gray-900">Meet Minimum Requirements</strong> You'll need to complete 50 hours of cross country time and at least 40 hours under the hood.  You'll also need to fly an IFR cross country and complete training with an instructor.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" class="mt-1 h-5 w-5 flex-none fill-sky-600" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-120v-80h720v80H120Zm74-200L80-514l62-12 70 62 192-52-162-274 78-24 274 246 200-54q32-9 58 12t26 56q0 22-13.5 39T830-492L194-320Z"/></svg>
              <span><strong class="font-semibold text-gray-900">Fly With an Examiner</strong> You'll fly with a FAA Designated Pilot Examiner (DPE) and demonstrate you have the skills to fly IFR and meet the requirements of the Airmen Certification Standards (ACS).</span>
            </li>
          </ul>
          <p class="mt-8">Blue Skies Above will prepare you for all of the required exams with the necessary materials and education.  Give us a call and schedule a discovery flight to get started.</p>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">What to expect during instrument training?</h2>
          <p class="mt-6">Prepare for intensive learning during instrument training. The instrument rating is renowned for its information packed curriculum. Dive deep into regulations, procedures, and mastering the skill of reading charts and FAA literature. Learn crucial skills for navigating IFR weather with precision and safety. </p>
          <p class="mt-6 mb-10">To start instrument training at Blue Skies Above, take the initial step by reaching out to Blue Skies Above team today. Connect with our team, explore the classroom and planes, and review the comprehensive syllabus. Let's kickstart your instrument rating.  This is your opportunity to become a more skilled and confident pilot!</p>
          <%= button_to "Visit School", visit_path, target: "blank", method: :get, data: { turbo: false }, class: "btn-primary " %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/typography'),
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="overflow-hidden bg-white">
  <div class="relative mx-auto max-w-7xl px-6 py-16 lg:px-8">
    <div class="absolute bottom-0 left-3/4 top-0 hidden w-screen bg-sky-50 lg:block"></div>
    <div class="mx-auto max-w-prose text-base lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-8">
      <div>
        <h2 class="text-lg font-semibold text-sky-600">Frequently Asked</h2>
        <h3 class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Why Get an Instrument Rating?</h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:col-start-2 lg:row-start-1">
        <svg class="absolute right-0 top-0 -mr-20 -mt-20 hidden lg:block" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <%# REMOVE DOTS 
          <defs> 
            <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs> %>
          <rect width="404" height="384" class="fill-sky-100" />
        </svg>
        <div class="relative mx-auto max-w-prose text-base lg:max-w-none">
          <figure>
            <div class="aspect-h-7 aspect-w-12 lg:aspect-none">
              
              <%= image_tag "blue-skies-imc-above-clouds-atlanta-columbus-georgia.webp", alt: "Flight above clouds in IMC above Columbus Georgia Atlanta - Blue Skies Above Professional Flight Instruction", class: "rounded-lg object-cover object-center shadow-lg"%>
              
            </div>
            <figcaption class="mt-3 flex text-sm text-gray-500">
              <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1 8a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 018.07 3h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0016.07 6H17a2 2 0 012 2v7a2 2 0 01-2 2H3a2 2 0 01-2-2V8zm13.5 3a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM10 14a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
              </svg>
              <span class="ml-2">IFR Flight Training Blue Skies Above Lanett, Alabama</span>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="mx-auto max-w-prose text-base lg:max-w-none">
          <p class="text-lg text-gray-500">Are you a pilot wondering if getting an instrument rating is worth it? If so, you're not alone. Many pilots ask themselves the same question, and it's a decision that requires careful consideration.  But before we get into the benefits of an instrument rating, it's important to understand exactly what are the requirements.</p>
        </div>
        <div class="prose prose-sky mx-auto mt-5 text-gray-500 lg:col-start-1 lg:row-start-1 lg:max-w-none">
          <h3>Part 61 Instrument Rating Requirements</h3>
          <ul role="list">
            <li>Hold at least a private pilot certificate</li>
            <li>Be able to read, speak, write, and understand the English language</li>
            <li>Pass a written exam on the subject of instrument flying</li>
            <li>Accumulate a minimum of 50 hours of cross-country flight time as a pilot</li>
            <li>Accumulate a minimum of 40 hours of instrument flight time, including at least 15 hours of instrument flight training from a certificated flight instructor</li>
            <li>Pass a practical test, also known as a checkride, with a DPE</li>
          </ul>
          <h3>4 Reasons to Get an Instrument Rating</h3>
          <p><strong class="font-semibold text-gray-900">Improved safety:</strong> One of the most compelling reasons to get an instrument rating is the improvement in safety it provides. By learning to fly in instrument meteorological conditions (IMC), you'll be better equipped to handle unexpected weather events and other challenges that may arise during flight. With an instrument rating, you'll be able to fly with greater confidence and proficiency, knowing that you have the skills and knowledge to handle a wider range of situations.</p>
          <p><strong class="font-semibold text-gray-900">Enhanced career opportunities:</strong> An instrument rating can also strengthen your career prospects as a pilot. Many airlines and other aviation employers prefer to hire pilots with instrument ratings, as they demonstrate a higher level of skill and professionalism. Additionally, an instrument rating may be required for certain types of flying, such as flying for an airline or chartering aircraft.</p>
          <p><strong class="font-semibold text-gray-900">Improved situational awareness:</strong> Another benefit of an instrument rating is the improvement in situational awareness it provides. By learning to fly using instruments, you'll develop a heightened sense of awareness and attention to detail that can translate to all aspects of flying. This increased awareness can help you make better decisions and react more quickly to changing conditions, leading to safer, more efficient flights.</p>
          <p><strong class="font-semibold text-gray-900">Increased enjoyment:</strong> Finally, many pilots find that getting an instrument rating enhances their enjoyment of flying. With an instrument rating, you'll have the skills and confidence to fly in a wider range of conditions and environments, allowing you to experience the thrill of flight in a whole new way.</p>
          <%# 
          <ul role="list">
            <li>Quis elit egestas venenatis mattis dignissim.</li>
            <li>Cras cras lobortis vitae vivamus ultricies facilisis tempus.</li>
            <li>Orci in sit morbi dignissim metus diam arcu pretium.</li>
          </ul>
          <p>Rhoncus nisl, libero egestas diam fermentum dui. At quis tincidunt vel ultricies. Vulputate aliquet velit faucibus semper. Pellentesque in venenatis vestibulum consectetur nibh id. In id ut tempus egestas. Enim sit aliquam nec, a. Morbi enim fermentum lacus in. Viverra.</p>
           %>
          <h3>Get Your Instrument Rating</h3>
          <p>Blue Skies Above Professional Flight Instruction is here to help you achieve your goals. Our structured training programs ensure that you receive top notch instruction. Whether you're aiming to enhance safety, open doors to exciting career opportunities, or simply enjoy the thrill of flying like never before, obtaining an instrument rating is a journey worth embarking on. Contact us today and get started.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Image section -->
<div class="xl:mx-auto xl:max-w-7xl px-3 xl:px-8 py-10">
  <%= image_tag "blue-skies-auburn-university-flying-imc-instrument-rating.webp", alt: "Cessna 172 flying IMC instrument rating above Auburn, Alabama. university, flight school, pilot training near me, instrument rating course, instrument flight school", class: "lg:aspect-[5/3] w-full object-cover rounded-lg xl:rounded-3xl"%>
</div>





<%= render "shared/cta_were_experts" %>
<%= render "shared/cta_next_steps" %>
<%= render "shared/footer"%>