<%# Head / Meta Data %>
<% title("How to Become a Pilot | Blue Skies Above") %>
<% meta_description("Start your pilot training journey at Blue Skies Above located at Lanett Municipal Airport. Our step by step process covers theory and hands on experience to get your pilot certificates and ratings. Gain skills and confidence for safe piloting. Start your aviation career or fly for fun at Blue Skies Above.") %>
<% meta_keywords("cessna 172 pilot training, Auburn aviation education, Columbus flight lessons, Opelika aviation theory, pilot program, pilot syllabus Alabama, recreational flying alabama, aviation certification alabama, piloting skills Lanett, aviation journey start now today") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<%= render "shared/phone_banner"%>
<%= render "shared/nav"%>

<header class="w-full bg-ifr bg-cover bg-center h-screen-3/4 lg:h-screen-4/5 flex justify-center items-center text-white">
  <div class="px-5 py-24 lg:py-32 flex flex-col justify-start items-end h-full w-full text-center lg:text-right">
      <h1 class="text-4xl font-bold tracking-tight sm:text-6xl text-black">How to become a pilot</h1>
      <h2 class="mt-6 text-lg leading-8 text-gray-800">No matter your experience level Blue Skies Above has a pilot program for you</h2>
      <%#= link_to "ENROLL TODAY", enroll_path, target: "blank", data: { turbo: false }, class: "btn-primary" %>
  </div>
</header>


<%= render "shared/cta_3_steps" %>




<!-- Image section -->
<div class="xl:mx-auto xl:max-w-7xl xl:px-8 py-10">
  <%= image_tag "blue-skies-cessna-sunset.webp", alt: "Cessna during sunset at the ramp at Lanett Municipal Airport", class: "aspect-[5/2] w-full object-cover xl:rounded-3xl"%>
</div>


  <!-- Courses section --> 
<div class="mx-auto my-32 max-w-7xl px-6 sm:my-40 lg:px-8">
  <div class="mx-auto max-w-2xl lg:mx-0">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our Courses</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">Understanding that each student pilot is unique, our tailored approach ensures personalized guidance throughout your training. From your initial flight with a CFI to advanced training in instrument and commercial, we're committed to your success.</p>
  </div>
  <dl class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
    <div>
      <dt class="font-semibold text-gray-900">Private Pilot Certificate</dt>
      <dd class="mt-1 text-gray-600">All pilot get their private pilot certificate as their first certificate.  A private pilot certificate allows you to be pilot in command of an aircraft and fly passengers.  Learn more about our initial Private Pilot Instruction.</dd>
      <div class="mt-6">
        <%= link_to "Private Pilot", ppl_path, class: "inline-block rounded-md border border-transparent bg-sky-600 px-3 py-1 font-medium text-white hover:bg-sky-700 hover:scale-105 duration-300" %>
      </div>
    </div>
    <div>
      <dt class="font-semibold text-gray-900">Instrument Rating</dt>
      <dd class="mt-1 text-gray-600">Once you have your private license, the next step is to get your Instrument Rating. An instrument rating gives you the skills needed to fly in less than ideal weather conditions.  Check out what that rating means here.</dd>
      <div class="mt-6">
        <%= link_to "Instrument Rating", "", class: "inline-block rounded-md border border-transparent bg-sky-600 px-3 py-1 font-medium text-white hover:bg-sky-700 hover:scale-105 duration-300" %>
      </div>
    </div>
    <div>
      <dt class="font-semibold text-gray-900">Commercial Pilot Certificate</dt>
      <dd class="mt-1 text-gray-600">Interested in a career in aviation? Look no further than our Commercial Pilot.  Holding a commercial pilot certificate allows for you to fly for compensation and hire.</dd>
      <div class="mt-6 lg:mt-[1.5rem]"> <%# added mt for spacing %>
        <%= link_to "Commercial Pilot", "", class: "inline-block rounded-md border border-transparent bg-sky-600 px-3 py-1 font-medium text-white hover:bg-sky-700 hover:scale-105 duration-300" %>
      </div>
    </div>
    <div>
      <dt class="font-semibold text-gray-900">CFI</dt>
      <dd class="mt-1 text-gray-600">Now that you're a skilled and proficient pilot, teach the next generation of pilots and gain experience. Learn more about our Certified Flight Instructor (CFI) course here.</dd>
      <div class="mt-6">
        <%= link_to "CFI Training", "", class: "inline-block rounded-md border border-transparent bg-sky-600 px-3 py-1 font-medium text-white hover:bg-sky-700 hover:scale-105 duration-300" %>
      </div>
    </div>
    <div>
      <dt class="font-semibold text-gray-900">CFII</dt>
      <dd class="mt-1 text-gray-600">Guiding others to obtain their Instrument Panel Rating is a challenge, but a rewarding one at that. Become CFII certified with Blue Skies Above.</dd>
      <div class="mt-6 lg:mt-[3.2rem]"> <%# added mt for spacing %>
        <%= link_to "CFII Training", "", class: "inline-block rounded-md border border-transparent bg-sky-600 px-3 py-1 font-medium text-white hover:bg-sky-700 hover:scale-105 duration-300" %>
      </div>
    </div>
    <%# 6th course placeholder
    <div>
      <dt class="font-semibold text-gray-900">Enjoy downtime</dt>
      <dd class="mt-1 text-gray-600">Ipsa in earum deserunt aut. Quos minus aut animi et soluta. Ipsum dicta ut quia eius. Possimus reprehenderit iste aspernatur ut est velit consequatur distinctio.</dd>
    </div> %>
  </dl>
</div>



<%= render "shared/cta_were_experts" %>
<%= render "shared/footer"%>