<%# Head / Meta Data %>
<%# title("Advanced Traiing at Ideal Aviation") %>
<%# meta_description("Come train at Ideal Aviation.  We offer courses from private pilot to CFII and MEI.  Get your instrument rating and commercial certificate done in the best flight school in St. Louis") %>
<%# meta_keywords("Instrument rating st. louis, multi-engine training st. louis, flight instructor CFI rating st louis, piper seminole in st louis, guimbal cabri st louis") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<%= render "shared/nav"%>

<header class="w-full bg-ifr bg-cover bg-center h-screen-3/4 lg:h-screen-4/5 flex justify-center items-center text-white">
  <div class="px-5 py-24 lg:py-32 flex flex-col justify-start items-end h-full w-full text-center lg:text-right">
      <h1 class="text-4xl font-bold tracking-tight sm:text-6xl text-black">How to become a pilot</h1>
      <h2 class="mt-6 text-lg leading-8 text-gray-800">No matter your experience level Blue Skies Above has a pilot program for you</h2>
      <%#= link_to "ENROLL TODAY", enroll_path, target: "blank", data: { turbo: false }, class: "btn-primary" %>
  </div>
</header>


<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Become a pilot at Blue Skies Above </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Our flight school welcomes aviators to Lanett, Alabama.  The process is simple and only takes 3 steps to get started.</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div class="flex flex-col">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-sky-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H6.911a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661z" />
              </svg>
            </div>
            1. Meet the team
          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
            <p class="flex-auto">Get in touch with a Blue Skies Team member.  We'll learn what your aviation goals are and discuss how we can help reach those goals.</p>
            <p class="mt-6">
              <a href="#" class="text-sm font-semibold leading-6 text-sky-600">Contact Us <span aria-hidden="true">→</span></a>
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-sky-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
              </svg>
            </div>
            2. Visit Blue Skies Above
          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
            <p class="flex-auto">Visit our flight school and see our planes.  Fly with one of our CFIs to start training and flying planes at Blue Skies Above.</p>
            <p class="mt-6">
              <a href="#" class="text-sm font-semibold leading-6 text-sky-600">Visit Us <span aria-hidden="true">→</span></a>
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-sky-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>
            </div>
            3. Start Flying
          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
            <p class="flex-auto">Whether you're flying for a career or flying for fun, Blue Skies Above will help you acquire the skills and knowledge to become a safe proficient pilot.</p>
            <p class="mt-6">
              <a href="#" class="text-sm font-semibold leading-6 text-sky-600">Enroll today <span aria-hidden="true">→</span></a>
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>


<!-- Image section -->
<div class="xl:mx-auto xl:max-w-7xl xl:px-8 py-10">
  <%= image_tag "blue-skies-cessna-sunset.webp", alt: "Cessna during sunset at the ramp at Lanett Municipal Airport", class: "aspect-[5/2] w-full object-cover xl:rounded-3xl"%>
</div>


<header class="bg-gradient-to-b from-neutral-50 to-yellow-50">
  <div class="flex flex-col lg:flex-row">
    <div class="flex flex-col items-center lg:w-1/2">
      <span class="text-xl lg:text-2xl pt-20 text-center">Sun City Aviation Academy is Your</span>
      <h1 class="font-bold text-5xl pt-5 text-center">Pathway to the Airlines</h1>
      <h2 class="font-semibold text-lg italic pt-5 pb-10 text-center">We're here to help you achieve your aviation goals.  <br class="hidden lg:block">Every step of the way.</h2>
      <p class="w-3/4 pb-20">
        If you're new to the aviation world, you've likely encountered a bunch of online resources, leaving you more confused than when you started. How extensive is pilot training and what are the requirements? Are those smaller aircraft considered safe? We'll provide answers to these inquiries and more in the following sections.
      </p>
    </div>
    <div class="flex flex-col justify-center items-center lg:w-1/2">
      <%= image_tag "", alt: "lorem", class: "lg:w-3/4 lg:rounded-xl"%>
    </div>
  </div>
</header>

<section class="bg-gradient-to-b from-neutral-500 to-neutral-900 flex flex-col items-center text-white">
  <div class="pt-10 flex flex-col items-center">
    <h2 class="text-center text-2xl lg:text-4xl font-bold">Determine if <span class="text-custom-50">Pilot Training</span> is Right For You</h2>
    <p class="w-3/4 lg:w-1/2  pt-10">Starting the journey to become a pilot is a big decision. First, think about what you want and how flying fits in. Do you want to fly for fun with friends and family, enjoy beautiful views, and visit nearby places? Or do you want a job as a pilot, like flying for an airline?</p>
    <p class="w-3/4 lg:w-1/2  py-10">Also, think about how much time you can spend on flight training and make sure your family and friends are okay with it. Before you begin pilot training, ask yourself these important questions. Remember, no matter your situation or dreams, the Sun City team is here to help you achieve your flying goals.</p>
    <%= link_to "TAKE OUR QUIZ", root_path, target: "blank", data: { turbo: false }, class: "btn-primary mb-10" %>
  </div>
</section>



<%#= render "shared/pilot_courses"%>




<section class="bg-gradient-to-b from-neutral-100 to-white flex flex-col lg:flex-row lg:items-start items-center pt-10 pb-0 lg:py-10">
  <div class="flex flex-col items-center justify-center lg:w-1/2 ">
    <h2 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">Pilots are Professionals</h2>
    <p class="w-3/4 pb-10">Regardless if you're flying a small plane or a big airliner, all pilots are professionals who fly and operate airplanes. They usually have certain qualities that help them do their job well.</p>
    <p class="w-3/4 pb-10">If you're excited about flying high or interested in becoming a pilot, please don't hesitate to reach out to us. Contact us today to start an exciting adventure in aviation.</p>
    <p class="w-3/4 pb-10 font-semibold font-sans">Reach out to the Sun City team, and together let's achieve your aviation dreams.</p>
    <%= link_to "CONTACT US", root_path, data: { turbo: false }, class: "btn-primary mb-10" %>
  </div>
  <div class="flex flex-col items-center lg:w-1/2 pb-10 lg:pb-0">
    <h2 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">Are You a Pilot?</h2>
    <div class="flex flex-col w-3/4">
      <div class="flex flex-row flex-start">
        <div class="text-custom-50 pr-2 font-extrabold">✈</div>
        <h3 class="text-lg px-5 text-left">Professionalism and discipline</h3>
      </div>
      <div class="pl-11 italic text-slate-500">Pilots need to be professional all the time. They follow the rules, stick to procedures, and put passengers' safety and comfort first.</div>
      <div class="flex flex-row flex-start pt-3">
        <div class="text-custom-50 pr-2 font-extrabold">✈</div>
        <h3 class="text-lg px-5 text-left">Strong situational awareness</h3>
      </div>
      <div class="pl-11 italic text-slate-500">Pilots must know what's going on around them to make safe choices. They need to be good at understanding the weather, other planes, and their own aircraft.</div>
      <div class="flex flex-row flex-start pt-3">
        <div class="text-custom-50 pr-2 font-extrabold">✈</div>
        <h3 class="text-lg px-5 text-left">Cool under pressure</h3>
      </div>
      <div class="pl-11 italic text-slate-500">Pilots need to stay relaxed and collected when things get stressful. They have to stay focused and make smart decisions, even in difficult or emergency situations.</div>
      <div class="flex flex-row flex-start pt-3">
        <div class="text-custom-50 pr-2 font-extrabold">✈</div>
        <h3 class="text-lg px-5 text-left">Excellent at communication</h3>
      </div>
      <div class="pl-11 italic text-slate-500">Pilots need to communicate effectively. They have to share important information clearly and listen carefully to instructions and updates.</div>
    </div>
  </div>
</section>
<div class="h-screen">

</div>

<%= render "shared/footer"%>