<%# Head / Meta Data %>
<% title("Private Pilot Program | Blue Skies Above") %>
<% meta_description("Explore the path to a Private Pilot License (PPL), from the flight fitness exam to the aviation knowledge test. Discover the criteria and steps toward becoming a certified pilot.") %>
<% meta_keywords("cessna 172 pilot training, Auburn aviation education, Columbus flight lessons, Opelika aviation theory, pilot program, pilot syllabus Alabama, recreational flying alabama, aviation certification alabama, piloting skills Lanett, aviation journey start now today") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<%= render "shared/phone_banner"%>
<%= render "shared/nav"%>

<header class="w-full bg-cessna-ramp bg-cover bg-center h-screen-3/4 lg:h-screen-4/5 flex justify-center items-center text-white">
  <div class="px-5 py-24 lg:py-32 flex flex-col justify-start items-center lg:items-end h-full w-full text-center lg:text-right">
      <h1 class="text-4xl font-bold tracking-tight sm:text-6xl text-white">How to get your private pilot certificate</h1>
      <h2 class="mt-6 text-xl leading-8 text-gray-200">Steps to become a certified pilot in the Lanett, Alabama</h2>
      <div class="flex flex-row lg:flex-row items-center mt-5">
        <%= link_to "Visit School", visit_path, target: "blank", data: { turbo: false }, class: "btn-primary " %>
        <%= link_to discovery_flight_path do %>
          <div class="ml-5 flex group items-center">
            <div class="mr-3">Discovery Flight</div>
            <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
          </div>
        <%end%>
      </div>
  </div>
</header>

<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-sky-600">How to become a pilot</p>
    <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Private Pilot Certificate</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">A Private Pilot Certificate, also known as a Private Pilot License (PPL), <br class="hidden lg:block">allows for you to be pilot in command (PIC) and carry passengers.</p>
  </div>
</div>


<div class="relative bg-white">
  <div class="mx-auto max-w-7xl lg:flex lg:justify-between lg:px-8 xl:justify-end">
    <div class="lg:flex lg:w-1/2 lg:shrink lg:grow-0 xl:absolute xl:inset-y-0 xl:right-1/2 xl:w-1/2">
      <div class="relative h-80 lg:-ml-8 lg:h-auto lg:w-full lg:grow xl:ml-0">
        <%= image_tag "blue-skies-flying-over-few-clouds-opelika.webp", alt: "flying cessna over clouds Opelika, Alabama ", class: "absolute inset-0 h-full w-full bg-gray-50 object-cover"%>
      </div>
    </div>
    <div class="px-6 lg:contents">
      <div class="mx-auto max-w-2xl pb-24 pt-16 sm:pb-32 sm:pt-20 lg:ml-8 lg:mr-0 lg:w-full lg:max-w-lg lg:flex-none lg:pt-32 xl:w-1/2">
        <p class="text-base font-semibold leading-7 text-sky-600">Private Pilot</p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">4 Steps to Become a Private Pilot</h1>
        <p class="mt-6 text-xl leading-8 text-gray-700">A Private Pilot Certificate grants individuals the authority to fly aircraft for non-commercial purposes. Although this doesn't permit pilots to receive compensation for their flights or to fly for commercial purposes, a Private Pilot Certificate allows pilots to operate aircraft for leisure and personal travel.</p>
        <div class="mt-10 max-w-xl text-base leading-7 text-gray-700 lg:max-w-none">
          <p>The time required to obtain a Private Pilot Certificate typically ranges between a few months to a year, contingent upon factors such as frequency of lessons, individual aptitude, and weather conditions affecting training. It involves flying for a minimum of 40 hours which includes both solo and instructor guided flights with Blue Skies Above expert CFIs.  On average, students need around 60 hours to be ready for the checkride.  Additionally, candidates must pass a written exam, a flight test demonstrating their flying skills, and meet medical requirements set by the Federal Aviation Administration (FAA).</p>
          <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li class="flex gap-x-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="mt-1 h-5 w-5 flex-none fill-sky-600" height="24" viewBox="0 -960 960 960" width="24"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
              <span><strong class="font-semibold text-gray-900">Step 1. Discovery Flight.</strong> An introductory flight for people who are interested in flying.  You fly the airplane and determine if flight training is right for you.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" class="mt-1 h-5 w-5 flex-none fill-sky-600" height="24" viewBox="0 -960 960 960" width="24"><path d="M160-80q-33 0-56.5-23.5T80-160v-480q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v480q0 33-23.5 56.5T800-80H160Zm0-80h640v-480H160v480Zm240-560h160v-80H400v80ZM160-160v-480 480Zm280-200v120h80v-120h120v-80H520v-120h-80v120H320v80h120Z"/></svg>
              <span><strong class="font-semibold text-gray-900">Step 2. Medical Exam.</strong> Prior to flying solo, you will need to complete a medical exam by a Aviation Medical Examiner (AME) to ensure you are fit to fly.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" class="mt-1 h-5 w-5 flex-none fill-sky-600" height="24" viewBox="0 -960 960 960" width="24"><path d="M560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T903-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v120h-80v-80H520v-200H240v640h240v80H240Zm280-400Zm241 199-19-18 37 37-18-19Z"/></svg>
              <span><strong class="font-semibold text-gray-900">Step 3. Written Exam.</strong> You'll complete ground training to learn aviation theory, regulation, and weather.  You'll have all the knowledge to pass your FAA written exam.</span>
            </li>
            <li class="flex gap-x-3">
              <svg xmlns="http://www.w3.org/2000/svg" class="mt-1 h-5 w-5 flex-none fill-sky-600" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-120v-80h720v80H120Zm74-200L80-514l62-12 70 62 192-52-162-274 78-24 274 246 200-54q32-9 58 12t26 56q0 22-13.5 39T830-492L194-320Z"/></svg>
              <span><strong class="font-semibold text-gray-900">Step 4. Flight Exam.</strong>You'll fly with your first passenger, a FAA Designated Pilot Examiner (DPE) and demonstrate you meet the requirements of the Airmen Certification Standards (ACS).</span>
            </li>
          </ul>
          <p class="mt-8">Blue Skies Above will prepare you for all of the required exams with the necessary materials and education.  Give us a call and schedule a discovery flight to get started.</p>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">What Happens After the Discovery Flight?</h2>
          <p class="mt-6">Upon completing your introductory discovery flight, there are two possible outcomes: either you discover that aviation isn't your passion, or you find that you have a genuine interest in pursuing a future in flight.  If you find that you want to become a pilot, then we'll pair you up with a Certified Flight Instructor (CFI).  Together you two, along with the support of the entire Blue Skies Above team, will create a plan to complete your aviation goals successfully.  </p>
          <p class="mt-6 mb-10">Take the first step and book a discovery flight today.  You'll meet with the Blue Skies Above team, tour the classroom, and then fly a plane.</p>
          <%= button_to "Discovery Flight", discovery_flight_path, target: "blank", method: :get, data: { turbo: false }, class: "btn-primary " %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/typography'),
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="overflow-hidden bg-white">
  <div class="relative mx-auto max-w-7xl px-6 py-16 lg:px-8">
    <div class="absolute bottom-0 left-3/4 top-0 hidden w-screen bg-sky-50 lg:block"></div>
    <div class="mx-auto max-w-prose text-base lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-8">
      <div>
        <h2 class="text-lg font-semibold text-sky-600">Frequently Asked</h2>
        <h3 class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">What to Expect When You First Start Flight Training</h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:col-start-2 lg:row-start-1">
        <svg class="absolute right-0 top-0 -mr-20 -mt-20 hidden lg:block" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <%# REMOVE DOTS 
          <defs> 
            <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs> %>
          <rect width="404" height="384" class="fill-sky-100" />
        </svg>
        <div class="relative mx-auto max-w-prose text-base lg:max-w-none">
          <figure>
            <div class="aspect-h-7 aspect-w-12 lg:aspect-none">
              
              <%= image_tag "blue-skies-solo-flight-chambers-county.webp", alt: "Blue Skies Above student pilot completing first solo flight Chambers County, Alabama", class: "rounded-lg object-cover object-center shadow-lg"%>
              
            </div>
            <figcaption class="mt-3 flex text-sm text-gray-500">
              <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1 8a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 018.07 3h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0016.07 6H17a2 2 0 012 2v7a2 2 0 01-2 2H3a2 2 0 01-2-2V8zm13.5 3a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM10 14a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
              </svg>
              <span class="ml-2">Blue Skies Above student pilot after completing first solo flight</span>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="mx-auto max-w-prose text-base lg:max-w-none">
          <p class="text-lg text-gray-500">Getting started with flight training can be both exciting and challenging.  We're here to guide and mentor you to become a skilled aviator.</p>
        </div>
        <div class="prose prose-sky mx-auto mt-5 text-gray-500 lg:col-start-1 lg:row-start-1 lg:max-w-none">
          <p>The first thing thing we'll go over is your schedule.  How many times per week are you able to dedicate to flight training?  We'll then take a look at the syllabus and match the lessons to fit your schedule.</p>
          <p>We recommend flying at least 2 to 3 times per week to optimize for retention. Flying less often means that there is a longer period where you're likely to forget things.  Each flight lesson, you're relearning some of the things you may have forgotten.  When you fly more frequently, you are able to solidify fundamental concepts quicker and become a better pilot.</p>
          <p>Your initial flight lessons will focus on building a foundational understanding of aviation principles. In the classroom, you'll cover topics such as aerodynamics, navigation, and aircraft systems. Expect comprehensive lessons to lay the groundwork for your practical flying experiences.</p>
          <p>As you progress into the practical phase of flight training, you'll spend considerable time flying the airplane. Initial flights will concentrate on flying straight and level, takeoffs, and landings. Instructors will guide you through the essential skills needed to operate an aircraft safely. Expect a structured curriculum designed to gradually increase the complexity of your flight exercises, allowing you to develop confidence and proficiency in handling various in flight scenarios.</p>
          <%# 
          <ul role="list">
            <li>Quis elit egestas venenatis mattis dignissim.</li>
            <li>Cras cras lobortis vitae vivamus ultricies facilisis tempus.</li>
            <li>Orci in sit morbi dignissim metus diam arcu pretium.</li>
          </ul>
          <p>Rhoncus nisl, libero egestas diam fermentum dui. At quis tincidunt vel ultricies. Vulputate aliquet velit faucibus semper. Pellentesque in venenatis vestibulum consectetur nibh id. In id ut tempus egestas. Enim sit aliquam nec, a. Morbi enim fermentum lacus in. Viverra.</p>
           %>
          <h3>Tips for success</h3>
          <p>Staying consistent and having the determination to make your dreams a reality is what it takes.  You consistently keep learning and developing yourself into a skilled aviator.  You review your notes, study your lessons, and practice consistently so that you're ready for the next lesson each time.</p>
          <p>Ask questions.  Discuss with your CFI concepts that you don't fully understand.</p>
          <p>Have fun and enjoy flying the Blue Skies Above.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Image section -->
<div class="xl:mx-auto xl:max-w-7xl xl:px-8 py-10">
  <%= image_tag "blue-skies-cessna-sunset.webp", alt: "Cessna during sunset at the ramp at Lanett Municipal Airport", class: "aspect-[5/2] w-full object-cover xl:rounded-3xl"%>
</div>




<%= render "shared/cta_3_steps" %>
<%= render "shared/cta_were_experts" %>
<%= render "shared/footer"%>