<%# Head / Meta Data %>
<% title("Private Pilot Program | Blue Skies Above") %>
<% meta_description("Explore the path to a Private Pilot License (PPL), from the flight fitness exam to the aviation knowledge test. Discover the criteria and steps toward becoming a certified pilot.") %>
<% meta_keywords("cessna 172 pilot training, Auburn aviation education, Columbus flight lessons, Opelika aviation theory, pilot program, pilot syllabus Alabama, recreational flying alabama, aviation certification alabama, piloting skills Lanett, aviation journey start now today") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<%= render "shared/phone_banner"%>
<%= render "shared/nav"%>

<header class="w-full bg-cessna-ramp bg-cover bg-center h-screen-3/4 lg:h-screen-4/5 flex justify-center items-center text-white">
  <div class="px-5 py-24 lg:py-32 flex flex-col justify-start items-center lg:items-end h-full w-full text-center lg:text-right">
      <h1 class="text-4xl font-bold tracking-tight sm:text-6xl text-white">How to get your private pilot certificate</h1>
      <h2 class="mt-6 text-xl leading-8 text-gray-200">Steps to become a certified pilot in the Lanett, Alabama</h2>
      <div class="flex flex-row lg:flex-row items-center mt-5">
        <%= link_to "Visit School", "", target: "blank", data: { turbo: false }, class: "btn-primary " %>
        <%= link_to root_path do %>
          <div class="ml-5 flex group items-center">
            <div class="mr-3">Discovery Flight</div>
            <div aria-hidden="true" class="group-hover:animate-bounce-right">→</div>
          </div>
        <%end%>
      </div>
  </div>
</header>

<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-sky-600">How to become a pilot</p>
    <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Private Pilot Certificate</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">A Private Pilot Certificate, also known as a Private Pilot License (PPL), <br class="hidden lg:block">allows for you to be pilot in command (PIC) and carry passengers.</p>
  </div>
</div>


<div class="relative bg-white">
  <div class="mx-auto max-w-7xl lg:flex lg:justify-between lg:px-8 xl:justify-end">
    <div class="lg:flex lg:w-1/2 lg:shrink lg:grow-0 xl:absolute xl:inset-y-0 xl:right-1/2 xl:w-1/2">
      <div class="relative h-80 lg:-ml-8 lg:h-auto lg:w-full lg:grow xl:ml-0">
        <img class="absolute inset-0 h-full w-full bg-gray-50 object-cover" src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-x=.4&w=2560&h=3413&&q=80" alt="">
      </div>
    </div>
    <div class="px-6 lg:contents">
      <div class="mx-auto max-w-2xl pb-24 pt-16 sm:pb-32 sm:pt-20 lg:ml-8 lg:mr-0 lg:w-full lg:max-w-lg lg:flex-none lg:pt-32 xl:w-1/2">
        <p class="text-base font-semibold leading-7 text-sky-600">Private Pilot</p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">4 Steps to Become a Private Pilot</h1>
        <p class="mt-6 text-xl leading-8 text-gray-700">A Private Pilot Certificate grants individuals the authority to fly aircraft for non-commercial purposes. Although this doesn't permit pilots to receive compensation for their flights or to fly for commercial purposes, a Private Pilot Certificate allows pilots to operate aircraft for leisure and personal travel.</p>
        <div class="mt-10 max-w-xl text-base leading-7 text-gray-700 lg:max-w-none">
          <p>The time required to obtain a Private Pilot Certificate typically ranges between a few months to a year, contingent upon factors such as frequency of lessons, individual aptitude, and weather conditions affecting training. It involves flying for 40 hours which includes both solo and instructor guided flights with Blue Skies Above expert CFIs. Additionally, candidates must pass a written exam, a flight test demonstrating their flying skills, and meet medical requirements set by the Federal Aviation Administration (FAA).</p>
          <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li class="flex gap-x-3">
              <svg class="mt-1 h-5 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
              </svg>
              <span><strong class="font-semibold text-gray-900">Step 1. Discovery Flight.</strong> An introductory flight for people who are interested in flying.  You fly the airplane and determine if flight training is right for you.</span>
            </li>
            <li class="flex gap-x-3">
              <svg class="mt-1 h-5 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
              </svg>
              <span><strong class="font-semibold text-gray-900">Step 2. Medical Exam.</strong> Prior to flying solo, you will need to complete a medical exam by a Aviation Medical Examiner (AME) to ensure you are fit to fly.</span>
            </li>
            <li class="flex gap-x-3">
              <svg class="mt-1 h-5 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
                <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd" />
              </svg>
              <span><strong class="font-semibold text-gray-900">Step 3. Written Exam.</strong> You'll complete ground training to learn aviation theory, regulation, and weather.  You'll have all the knowledge to pass your FAA written exam.</span>
            </li>
            <li class="flex gap-x-3">
              <svg class="mt-1 h-5 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
                <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd" />
              </svg>
              <span><strong class="font-semibold text-gray-900">Step 4. Flight Exam.</strong>You'll fly with your first passenger, a FAA designated pilot examiner (DPE) and demonstrate you meet the requirements of the airmen certification standards (ACS).</span>
            </li>
          </ul>
          <p class="mt-8">Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac adipiscing egestas. Iaculis convallis ac tempor et ut. Ac lorem vel integer orci.</p>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">No server? No problem.</h2>
          <p class="mt-6">Id orci tellus laoreet id ac. Dolor, aenean leo, ac etiam consequat in. Convallis arcu ipsum urna nibh. Pharetra, euismod vitae interdum mauris enim, consequat vulputate nibh. Maecenas pellentesque id sed tellus mauris, ultrices mauris. Tincidunt enim cursus ridiculus mi. Pellentesque nam sed nullam sed diam turpis ipsum eu a sed convallis diam.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/typography'),
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="overflow-hidden bg-white">
  <div class="relative mx-auto max-w-7xl px-6 py-16 lg:px-8">
    <div class="absolute bottom-0 left-3/4 top-0 hidden w-screen bg-gray-50 lg:block"></div>
    <div class="mx-auto max-w-prose text-base lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-8">
      <div>
        <h2 class="text-lg font-semibold text-sky-600">Case Study</h2>
        <h3 class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Meet Whitney</h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:col-start-2 lg:row-start-1">
        <svg class="absolute right-0 top-0 -mr-20 -mt-20 hidden lg:block" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <defs>
            <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#de316486-4a29-4312-bdfc-fbce2132a2c1)" />
        </svg>
        <div class="relative mx-auto max-w-prose text-base lg:max-w-none">
          <figure>
            <div class="aspect-h-7 aspect-w-12 lg:aspect-none">
              <img class="rounded-lg object-cover object-center shadow-lg" src="https://images.unsplash.com/photo-1546913199-55e06682967e?ixlib=rb-1.2.1&auto=format&fit=crop&crop=focalpoint&fp-x=.735&fp-y=.55&w=1184&h=1376&q=80" alt="Whitney leaning against a railing on a downtown street" width="1184" height="1376">
            </div>
            <figcaption class="mt-3 flex text-sm text-gray-500">
              <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1 8a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 018.07 3h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0016.07 6H17a2 2 0 012 2v7a2 2 0 01-2 2H3a2 2 0 01-2-2V8zm13.5 3a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM10 14a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
              </svg>
              <span class="ml-2">Photograph by Marcus O’Leary</span>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="mx-auto max-w-prose text-base lg:max-w-none">
          <p class="text-lg text-gray-500">Sagittis scelerisque nulla cursus in enim consectetur quam. Dictum urna sed consectetur neque tristique pellentesque. Blandit amet, sed aenean erat arcu morbi.</p>
        </div>
        <div class="prose prose-sky mx-auto mt-5 text-gray-500 lg:col-start-1 lg:row-start-1 lg:max-w-none">
          <p>Sollicitudin tristique eros erat odio sed vitae, consequat turpis elementum. Lorem nibh vel, eget pretium arcu vitae. Eros eu viverra donec ut volutpat donec laoreet quam urna.</p>
          <p>Bibendum eu nulla feugiat justo, elit adipiscing. Ut tristique sit nisi lorem pulvinar. Urna, laoreet fusce nibh leo. Dictum et et et sit. Faucibus sed non gravida lectus dignissim imperdiet a.</p>
          <p>Dictum magnis risus phasellus vitae quam morbi. Quis lorem lorem arcu, metus, egestas netus cursus. In.</p>
          <ul role="list">
            <li>Quis elit egestas venenatis mattis dignissim.</li>
            <li>Cras cras lobortis vitae vivamus ultricies facilisis tempus.</li>
            <li>Orci in sit morbi dignissim metus diam arcu pretium.</li>
          </ul>
          <p>Rhoncus nisl, libero egestas diam fermentum dui. At quis tincidunt vel ultricies. Vulputate aliquet velit faucibus semper. Pellentesque in venenatis vestibulum consectetur nibh id. In id ut tempus egestas. Enim sit aliquam nec, a. Morbi enim fermentum lacus in. Viverra.</p>
          <h3>How we helped</h3>
          <p>Tincidunt integer commodo, cursus etiam aliquam neque, et. Consectetur pretium in volutpat, diam. Montes, magna cursus nulla feugiat dignissim id lobortis amet. Laoreet sem est phasellus eu proin massa, lectus. Diam rutrum posuere donec ultricies non morbi. Mi a platea auctor mi.</p>
          <p>Sagittis scelerisque nulla cursus in enim consectetur quam. Dictum urna sed consectetur neque tristique pellentesque. Blandit amet, sed aenean erat arcu morbi.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Image section -->
<div class="xl:mx-auto xl:max-w-7xl xl:px-8 py-10">
  <%= image_tag "blue-skies-cessna-sunset.webp", alt: "Cessna during sunset at the ramp at Lanett Municipal Airport", class: "aspect-[5/2] w-full object-cover xl:rounded-3xl"%>
</div>




<%= render "shared/cta_3_steps" %>
<%= render "shared/cta_were_experts" %>
<%= render "shared/footer"%>