<% title("#{@location['city']} Flight School | Blue Skies Above") %>
<% meta_description("Meet our team at Blue Skies Above.  We are a team of knowledgeable and safe flight instructors and aviation professionals.") %>
<% meta_keywords("fixed wing CFI Columbus Georgia, airplane CFI Auburn, CFI Opelika, CFII in Lafayette") %>



  <h1><%= @location['city'] %>, <%= @location['state'] %> Flight School</h1>
  
  <p><strong>City:</strong> <%= @location['city'] %></p>
  <p><strong>State:</strong> <%= @location['state'] %></p>
  <p><strong>Points of Interest:</strong></p>
  <ul>
    <li><%= @location['point_of_interest_1'] %></li>
    <li><%= @location['point_of_interest_2'] %></li>
  </ul>
  
