<% title("#{@location['city']}, #{@location['state_short']} Flight School | Blue Skies Above") %>
<% meta_description("Become a pilot at Blue Skies Above, located in Lanett, Alabama. Offering premier flight training to aspiring pilots in #{@location['city']} and surrounding areas. Our flight school provides comprehensive pilot training programs tailored to your aspirations and schedule. Whether you dream of piloting aircraft as a private pilot or pursuing a career in aviation, our experienced instructors will guide you every step of the way. Gain hands-on experience in our fleet of modern Cessna aircraft and master essential skills such as navigation, flight maneuvers, and aviation safety. From obtaining your private pilot certificate (PPL) to advancing to instrument ratings and commercial certificates, we provide the resources and expertise to help you achieve your aviation goals. Discover the joy of flight and join us at Blue Skies Above today!") %>
<% meta_keywords("Flight School, #{@location['city']}, #{@location['state_short']}, #{@location['state']}, Pilot Training, Professional Flight Instruction, Learn to Fly, Cessna, Private Pilot Certificate, PPL, Instrument Rating, Commercial Certificate, Certified Flight Instructor, How to Become a Pilot, Pilot School, Aviation Training, Flight Lessons, Aircraft Training, Aviation Career, Flight Simulator Training, Flight Experience, Flight Academy, Aviation Education, Pilot Certification, Flight Training Program, Flight School Near Me, Aviation Courses") %>



  <h1><%= @location['city'] %>, <%= @location['state'] %> Flight School</h1>
  
  <p><strong>City:</strong> <%= @location['city'] %></p>
  <p><strong>State:</strong> <%= @location['state'] %></p>
  <p><strong>Points of Interest:</strong></p>
  <ul>
    <li><%= @location['point_of_interest_1'] %></li>
    <li><%= @location['point_of_interest_2'] %></li>
  </ul>
  
