
  <h1><%= @location['city'] %>, <%= @location['state'] %> Flight School</h1>
  
  <p><strong>City:</strong> <%= @location['city'] %></p>
  <p><strong>State:</strong> <%= @location['state'] %></p>
  <p><strong>Points of Interest:</strong></p>
  <ul>
    <li><%= @location['point_of_interest_1'] %></li>
    <li><%= @location['point_of_interest_2'] %></li>
    <!-- Add more points of interest as needed -->
  </ul>
  
