<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Site Created By:    
       _____  _       _     _     _____           _     _           
      |  __ \(_)     | |   | |   |  __ \         | |   | |          
      | |__) |_  __ _| |__ | |_  | |__) |   _  __| | __| | ___ _ __ 
      |  _  /| |/ _` | '_ \| __| |  _  / | | |/ _` |/ _` |/ _ \ '__|
      | | \ \| | (_| | | | | |_  | | \ \ |_| | (_| | (_| |  __/ |   
      |_|  \_\_|\__, |_| |_|\__| |_|  \_\__,_|\__,_|\__,_|\___|_|   
      |  \/  |   __/ |  | |      | | (_)                            
      | \  / | _|___/ __| | _____| |_ _ _ __   __ _                 
      | |\/| |/ _` | '__| |/ / _ \ __| | '_ \ / _` |                
      | |  | | (_| | |  |   <  __/ |_| | | | | (_| |                
      |_|  |_|\__,_|_|  |_|\_\___|\__|_|_| |_|\__, |                
                                               __/ |                
                                              |___/                 

    Nice to see you here.  Find new student pilots with Right Rudder Marketing.  https://rightruddermarketing.com -->

    <%###### UPDATE TITLE%>
    <!--Title-->
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        Blue Skies Above Professional Flight Instruction in Lanett, AL
      <% end %>
    </title>

<%# UPDATE FAVICON%>

    <!--Favicon--> 
    <%= favicon_link_tag asset_path('favicon/favicon.ico') %>
    <% %w(57 72 76 114 120 144 152 180).each do |size| %>
      <%= favicon_link_tag "favicon/apple-touch-icon-#{size}x#{size}.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "#{size}x#{size}" %>
    <% end %>

  
    <!--Meta Tags-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <%####### UPDATE TITLE/DESC/KEYWORDS%>
    <meta name="title" content="<%= if content_for?(:title) then yield(:title) else 'Blue Skies Above Professional Flight Instruction in Lanett, AL' end %>">
    <meta name="description" content="<%= if content_for?(:meta_description) then yield(:meta_description) else 'Blue Skies Above is your pilot training academy nestled in Lanett, AL serving the Auburn, Opelika, and Columbus areas.  From private pilot certification to advanced training in instrument, commercial, and CFI courses, Blue Skies Above is where to complete your professional pilot training.' end %>">
    <meta name="keywords" content="<%= if content_for?(:meta_keywords) then yield(:meta_keywords) else 'Lanett flight school, professional aviation instruction, Alabama pilot certifications, flight training programs, CFI mentorship, aviation education Alabama, flight school Lanett, checkride success, right rudder marketing, tim jedrek' end %>">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Right Rudder Marketing">

    <%###### UPDATE TITLE/DESC/IMAGE%>
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:title" content="<%= if content_for?(:title) then yield(:title) else 'Blue Skies Above Professional Flight Instruction in Lanett, AL' end %>">
    <meta property="og:description" content="<%= if content_for?(:meta_description) then yield(:meta_description) else 'Blue Skies Above is your pilot training academy nestled in Lanett, AL serving the Auburn, Opelika, and Columbus areas.  From private pilot certification to advanced training in instrument, commercial, and CFI courses, Blue Skies Above is where to complete your professional pilot training.' end %>">
    <meta property="og:image" content="<%= if content_for?(:og_image) then yield(:og_image) else image_url('/blue-skies-logo-black-600.webp') end %>">

    <%###### UPDATE TITLE/DESC/IMAGE%>
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= request.original_url %>">
    <meta property="twitter:title" content="<%= if content_for?(:title) then yield(:title) else "Blue Skies Above Professional Flight Instruction in Lanett, AL" end %>">
    <meta property="twitter:description" content="<%= if content_for?(:meta_description) then yield(:meta_description) else 'Blue Skies Above is your pilot training academy nestled in Lanett, AL serving the Auburn, Opelika, and Columbus areas.  From private pilot certification to advanced training in instrument, commercial, and CFI courses, Blue Skies Above is where to complete your professional pilot training.' end %>">
    <meta property="twitter:image" content="<%= if content_for?(:twitter_image) then yield(:twitter_image) else image_url('/blue-skies-logo-black-600.webp') end %>">

    <!--CSS-->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%###### UPDATE FONTS%>
    <!--Google Fonts-->
    <style> 
      /* GOOGLE FONT  
      @font-face {
      font-family: 'Orbitron';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWg1fDAlp7lk.woff) format('woff');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }*/

      /* Eurostile fonts */
      @font-face {
      font-family: 'eurostile';
      font-style: normal;
      font-weight: normal;
      font-display: swap;
      src: url(<%= root_path %>eurostile.woff) format('woff');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
      font-family: 'EuroStyle Normal';
      font-style: normal;
      font-weight: normal;
      font-display: swap;
      src: url(<%= root_path %>EuroStyleNormal.woff) format('woff');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>

    <!--JS-->
    <%= javascript_importmap_tags %>
    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!--For Alpine Intersect-->
    <style>
      [x-cloak] { display: none !important; }
    </style>
  </head>
  
  <body>
    <main class="">
    <% if admin_signed_in? %>
      <!--USER MENU-->
      <%= render "shared/admin_menu" %>
    <% end %>
      <%= yield %>
    </main>


    <%#### UPDATES COMPANY FOR CALLRAIL%>
    <%# <!-- #### CALLRAIL SCRIPT
    <script type="text/javascript" src="//cdn.callrail.com/companies/400810513/51d2a7c293b47e7f67d2/12/swap.js"></script> 
    --> %>

    <%#### UPDATE COMPANY FOR GTAG 'CURRENT GTAG=Blue skies..'  %>
    <%# GOOGLE TAG ONLY SHOW DURING PRODUCTION ENVIRONMENT%>
    <% if Rails.env.production? %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-6DWLY484X9"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6DWLY484X9');
      </script>


      <%# JASON PPC Scripts %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TPZNMTN3');</script>
      <!-- End Google Tag Manager -->
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TPZNMTN3"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    <%end%>

    <chat-widget
      location-id="5SivLaegr29KaqBJxiKm"
      style="--chat-widget-primary-color: #27aae1; --chat-widget-active-color:#27aae1 ;--chat-widget-bubble-color: #27aae1 ;"
      sub-heading="Enter your question below and a team member will get right back to you." 
      use-email-field="true" 
      support-contact="connect@flytheblueskies.com" 
      success-msg="One of our team members will contact you shortly." 
      prompt-avatar="https://firebasestorage.googleapis.com/v0/b/highlevel-backend.appspot.com/o/locationPhotos%2F5SivLaegr29KaqBJxiKm%2Fchat-widget-person?alt=media&token=5d33a94c-aa7e-4dc8-9eaf-a9a5ce215c92" 
      locale="en-us" 
      primary-color="#27aae1">
    </chat-widget>
    <script
      async
      src="https://widgets.leadconnectorhq.com/loader.js" 
      data-resources-url="https://widgets.leadconnectorhq.com/chat-widget/loader.js" >
    </script>
  </body>
</html>
